
.contactContent{
  width: 100%;
  margin-bottom: 60px;
}
.con-top{
  width: 100%;
  background: #eed7e7;
  padding: 12px 0 12px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.con-top p{
  margin-bottom: 10px;
   font-size: 18px;
}
.con-boc{
  width: 100%;
  background: #f5f5f5;
  padding: 17px 0 15px 0;
  margin-top: 25px;
}
.con-boc>ul>li{
  margin-bottom: 30px;
}
.con-boc>ul>li:last-child{
  margin-bottom: 0;
}
.con-leftImg{
  width: 192px;
  float: left;
  text-align: center;
}
.con-leftImg img{
  width: 100%;
}
.con-rightC{
  width: 490px;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
}
.con-rightC pre{
  font-family: '微软雅黑';
}

