.footer{
    width: 100%;
    height: 330px;
    background: url("/cn/Hirsi/images/bottom_bg_index.png")no-repeat center;
    overflow: hidden;
    position: relative;
}
.footerCover{
    width: 1200px;
    margin: 30px auto;
    overflow: hidden;
}
.footer_left{
    width: 750px;
    padding-bottom: 50px;
    float: left;
    border-right: 1px dotted white;
    overflow: hidden;
}
.footer_left ul{
    float: left;
    margin-right: 60px;
}
.footer_left ul:last-child{
    margin-right: 0px!important;
}
.footer_left ul li a{
    color: white;
}
.footer_left ul li{
    padding: 5px 0px;
    text-align: left;
}
.footer_left ul li a:hover{
    color: rgb(153,68,153);
}
.footer_right{
    float: left;
    margin-left: 40px;
    margin-top: -10px;
}
.footer_right span{
    font-size: 30px;
    color: rgb(153,68,153);
    margin-left: 5px;
}
.footer_right p{
    color: white;
}
.footer_right>div{
    float: left;
    width: 120px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: center;
}
.footer_right>div>img{
    width: 100%;
    margin-bottom: 10px;
}
.smallFoot{
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    text-align: center;
    color: white;
    padding: 10px 0;
}
.smallFoot p{
    color: white;
}
.smallFoot span{
    color: white;
}
.smallFoot a{
    color: white;
}
.smallFoot a:hover{
    color: rgb(153,68,153);
}