.join-wrap {
    margin-top: 20px;
}
.join-wrap .join-top-img {
    height: 350px;
    border: 1px solid #000;
    text-align: center;
    line-height: 350px;
}
/*企业简介*/
.join-wrap .join-about {
    margin-top: 55px;
    padding-bottom: 50px;
    border-bottom: 1px dashed #000;
}
.join-wrap .join-about:after {
    display: block;
    content: "";
    clear: both;
}
.join-wrap .join-about h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.join-wrap .about-left,
.join-wrap .about-right {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.join-wrap .about-left {
    float: left;
    text-align: right;
    padding: 30px 10px 0 40px;

}
.join-wrap .about-left h4 {
    font-size: 14px;
    line-height: 21px;
}
.join-wrap .about-left p {
    font-size: 13px;
    line-height: 20px;
}
.join-wrap .about-left div {
    margin-top: 30px;
}
.join-wrap .about-right{
    float: right;
}
/*加入我们*/
.join-us {
    margin-top: 50px;
}
.join-us h2 {
    margin-bottom: 45px;
}
.join-us .join-cnt .hd:after {
    display: block;
    content: '';
    clear: both;
}
.join-us .join-cnt .hd li {
    float: left;
    padding: 5px 20px;
    border: 1px solid transparent;
    cursor: default;
}
.join-us .join-cnt .hd li.on {
    position: relative;
    border: 1px solid #000;
}
.join-us .join-cnt .hd .on:after {
    position: absolute;
    display: block;
    content: '';
    /*width: 0;*/
    /*height: 0;*/
    border: 10px solid transparent;
    border-bottom-color:#F5F5F5;
    left: 50%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.join-us .join-cnt .bd{
    margin-top: 10px;
}
.join-us .join-cnt .bd div {
    position: relative;
    padding: 60px 20px 40px;
    background-color: #F5F5F5;
    -webkit-box-shadow:  0 3px 5px #ccc;
    -moz-box-shadow:  0 3px 5px #ccc;
    box-shadow:  0 3px 5px #ccc;
    margin-bottom: 30px;
}
.join-us .join-cnt .bd dl:first-of-type:after{
    /*display: block;*/
    /*content: '';*/
    /*clear: both;*/
}
.join-us .join-cnt .bd dl:first-of-type dd {
    /*float: left;*/
    /*width: 50%;*/
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 30px;
}
.join-us .join-cnt .bd dl:first-of-type dt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.join-us .join-cnt .bd dl:last-of-type dt {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.join-us .join-cnt .bd dl:last-of-type dd {
    margin-bottom: 10px;
}
.join-us .join-cnt .bd a {
    position: absolute;
    padding: 10px 35px;
    background-color: rgb(255,47,46);
    color: #fff;
    bottom: 40px;
    right: 20px;
}
.join-us .join-cnt .bd a:hover{
    background-color:	#EE2C2C;
}
.join-us .join-cnt .bd strong {
    font-weight: bold;
}
/*工作地址*/
.join-address {
    padding: 40px 55px;
    margin:0 auto 30px;
    background: url("/cn/images/join_05.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.join-address dl:after {
    display: block;
    content: '';
    clear: both;
}
.join-address dt {
    color: #fff;
    margin-bottom: 20px;
    font-weight:bold;
}
.join-address dd {
    float: left;
    width: 45%;
    color: #fff;
    margin-bottom: 15px;
}
.join-address p {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}