*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(248,248,248);
}
/*banner*/
.course-bnr {
    position: relative;
    width: 100%;
    height: 480px;
    background: url(/cn/images/tuofu-banner.png) no-repeat center;
}
.course-bnr>ul {
    position: absolute;
    width: 900px;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-255px);
    -moz-transform: translateX(-255px);
    -ms-transform: translateX(-255px);
    -o-transform: translateX(-255px);
    transform: translateX(-255px);
}
.course-bnr>ul li {
    float: left;
    /*width: 170px;*/
    margin-left: 10px;
    padding: 3px 15px;
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius:10px;*/
    border-radius:20px;
    border: 1px solid rgb(230,93,102);
    text-align: center;
}
.course-bnr>ul li a {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
}
.course-bnr>ul li a p{
    color: white;
    font-size: 22px;
}
.course-bnr>ul li:hover{
    background: white;
}
.course-bnr>ul li:hover a>p{
    color: rgb(151,70,148);
}
/*课程*/
.fraction{
    width: 1200px;
    margin: 0px auto 0px;
}
.content_hd{
    background: rgb(151,70,148);
    padding-top: 10px;
    margin-bottom: 20px;
}
.content_hd ul{
    overflow: hidden;
}
.content_hd ul li{
    width: 240px;
    float: left;
    text-align: center;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
}
.content_hd ul li.on{
    background: white;
}
.content_hd ul li.on p{
    color: rgb(151,70,148);
    border-left: 0px solid rgb(186,134,184);
}
.content_hd ul li p{
    border-left: 1px solid rgb(186,134,184);
    padding: 10px 0px 10px 0px;
    color: white;
    font-size: 24px;
    font-family: 宋体;
    font-weight: bold;
}
.content_hd ul li:first-child  p{
    border-left: 0px!important;
}
.fraction_details{
    overflow: hidden;
}
.content_bd_left{
    width: 200px;
    float: left;
    background: rgb(252,231,252);
}
.content_bd{
    /*width:1000px;*/
    width: 100%;
    float: left;
}

#panel{
    /*height:65vh;*/
    width: 1200px;
    margin: auto;
}

#panel text{
    line-height: 13vh;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.flex-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.flex-cell{
    text-align: center;
    font-size: 18px;
    flex: 1;
    /* max-height: 48px; */
    overflow: hidden;
}
.flex-cell>p{
    /*overflow: hidden;*/
    text-overflow: ellipsis;
}
.course_lm{
    background: rgb(252,231,252);
}
.course_lm>div{
    width: 80%;
    padding:0px 9.5%;
    border-right: 1px solid rgb(239,239,230);
    border-bottom: 1px solid rgb(239,239,230);
    font-family: 宋体;
    font-weight: bold;
    font-size: 20px;
    color: rgb(85,85,85);
}
.course_lm>div:nth-child(1){
    border-top: 1px solid rgb(239,239,230);
    padding: 20px 10%;
}
.course_content>div{
    width: 80%;
    padding:20px 9.5%;
    border-right: 1px solid rgb(239,239,230);
    border-bottom: 1px solid rgb(239,239,230);
    max-height: 149.5px;
}
.course_content>div:nth-child(1){
    border-top: 1px solid rgb(239,239,230);
    padding: 40px 9.5%;
}

.course_content>div:nth-child(1):hover{
    background:rgb(151,70,148) ;
}
.course_content>div:nth-child(1):hover p{
    color: white;
}
.course_content>div p{
    color: rgb(85,85,85);
}
.course_price>p{
    font-weight: bold;
    color: rgb(230,85,85) !important;
}
.course_try a{
    padding: 5px 32px;
    border: 1px solid rgb(151,70,148);
    border-radius: 5px;
    font-size: 16px;
    color: rgb(151,70,148);
}
.course_try a:hover{
    color: white;
    background: rgb(151,70,148);
}
.course_sign a{
    padding: 5px 18px;
    border: 1px solid rgb(151,70,148);
    border-radius: 5px;
    font-size: 16px;
    color: rgb(151,70,148);
}
.course_sign a:hover{
    color: white;
    background: rgb(151,70,148);
}
.f15 p{
    font-size: 16px;
}
.pub-title-h3 {
    line-height: 60px;
    font-size: 32px;
    text-align: center;
}
.security>.pub-title-h3{
    margin: 30px auto 0;
}
.pub-title-h5 {
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
}
.course-cnt .course-icon {
    margin: 40px auto 60px;
}
.course-cnt .course-icon>li {
    float: left;
    width: 108px;
    margin-right: 28px;
}
.course-cnt .course-icon>li>div {
    width: 100%;
    height: 108px;
    margin-bottom: 20px;
    background: url(http://www.toeflonline.cn/cn/images/course-icon.png) 0 0 no-repeat;
}
.course-cnt .course-icon>li:nth-child(2)>div {
    background-position: -107px 0;
}
.course-cnt .course-icon>li:nth-child(3)>div {
    background-position: -214px 0;
}
.course-cnt .course-icon>li:nth-child(4)>div {
    background-position: -321px 0;
}
.course-cnt .course-icon>li:nth-child(5)>div {
    background-position: -428px 0;
}
.course-cnt .course-icon>li:nth-child(6)>div {
    background-position: -535px 0;
}
.course-cnt .course-icon>li:nth-child(7)>div {
    background-position: -642px 0;
}
.course-cnt .course-icon>li:nth-child(8)>div {
    background-position: -749px 0;
}
.course-cnt .course-icon>li:nth-child(9)>div {
    background-position: -856px 0;
}
.course-cnt .course-icon>li>p {
    font-size: 18px;
}
.course-cnt {
    width: 1200px;
    margin: 0 auto;
    padding-top: 55px;
    text-align: center;
}
.course-cnt .course-icon>li:last-child {
    margin-right: 0;
}
/*服务流程*/
.course-flow {
    margin-top: 60px;
    text-align: center;
}
.course-flow .cnt {
    margin-top: 80px;
}
.course-flow .cnt>li {
    position: relative;
    float: left;
    display: table;
    width: 390px;
    height: 220px;
    margin-right: 12px;
    border: 1px solid rgb(151,70,148);
}
.course-flow .cnt>li>p {
    position: absolute;
    top: -45px;
    left: 50%;
    -webkit-transform: translateX(-45px);
    -moz-transform: translateX(-45px);
    -ms-transform: translateX(-45px);
    -o-transform: translateX(-45px);
    transform: translateX(-45px);
    width: 90px;
    height: 90px;
    line-height: 90px!important;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: rgb(151,70,148);
    color: #fff;
    font-size: 20px;
}
.course-flow .cnt>li div {
    width: 85%;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.course-flow .cnt>li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    font-size: 16px;
}
.course-flow .cnt>li:last-child {
    margin-right: 0;
}
/*学习保障*/
.security>h3 {
    padding-top: 30px;
    text-align: center;
}
.security {
    width: 100%;
    height: 760px;
    margin-top: 50px;
    overflow: hidden;
    background: url("/cn/images/course-img.png") 0/100% 100% no-repeat;
}
.study-wrap {
    width: 1200px;
    margin: 30px auto 0;
}
.study-wrap li {
    float: left;
    width: 580px;
    margin: 0 40px 20px 0;
    overflow: hidden;
}
.study-wrap li:nth-child(2n) {
    margin-right: 0;
}
.study-num {
    float: left;
    width: 85px;
    height: 85px;
    line-height: 85px;
    margin-right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    color: #fff;
    background-color: #87ceee;
}
.study-wrap li:nth-child(2) .study-num{
    background-color: #f3acbb;
}
.study-wrap li:nth-child(3) .study-num{
    background-color: #ffc672;
}
.study-wrap li:nth-child(4) .study-num{
    background-color: #c4d564;
}
.study-wrap li:nth-child(5) .study-num{
    background-color: #bec2eb;
}
.study-wrap li:nth-child(6) .study-num{
    background-color: #728ec8;
}
.study-wrap li:nth-child(7) .study-num {
    background-color: #7bddcb;
}
.study-wrap li:nth-child(8) .study-num{
    background-color: #c3a3d6;
}
.study-font {
    float: left;
    width: 460px;
}
.study-font>h3 {
    position: relative;
    margin: 15px 0 5px 0;
    font-size: 24px;
    font-weight: normal;
    color: #191919;
}
.study-font>p {
    line-height: 24px;
    font-size: 16px;
    color: #191919;
}
/*公开课*/
.open-class {
    padding-top: 75px;
    text-align: center;
}
.open-class>ul {
    width: 1200px;
    margin: 40px auto 0;
}
.open-class>ul li {
    float: left;
    width: 285px;
    margin-right: 20px;
    background: white;
    padding-bottom: 20px;
}
.open-class>ul li:last-child {
    margin-right: 0;
}
.open-class>ul li .img {
    width: 100%;
    height: 155px;
    background-color: #ccc;
}
.open-class>ul li .img img{
    width: 100%;
    height: 100%;
}
.openClassTitle {
    width: 85%;
    margin:15px auto 10px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none!important;
}
.openClassTime {
    width: 85%;
    padding-bottom: 7px;
    border-bottom: 1px dotted rgb(190,189,192);
    font-size: 16px;
    color: #191919;
    text-align: center;
    margin: auto;
}
.open-class .open-details {
    margin-top: 10px;
}
.open-class .open-details>a {
    display: inline-block;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid rgb(151,70,148);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: rgb(151,70,148);
    font-size: 15px;
}
.m15{
    margin-right: 15px;
}
.open-class .open-details>a:hover {
    background-color: rgb(151,70,148);
    color: #fff;
}
.open-class>.pub-title-h5{
    font-size: 22px;
}
/*名师*/
/*板块4*/
.teacher_index {
    padding-bottom: 50px;
    position: relative;
}
.hd_repleate{
    position: relative;
}
.teacher_index_head_small {
    width: 80px;
    height: 80px;
    margin: 5px auto;
    border-radius: 50%;
    overflow: hidden;
}

.teacher_index_head_small img {
    width: 100%;
    height: 100%;
}

.teacher_index_head_list li {
    width: 98px;
    height: 90px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.teacher_index_head_list li:last-child {
    margin-right: 0;
}

.teacher_index_head_list li.on .teacher_index_head_small{
    border:1px solid rgb(148,66,148);
}

.pre_btn {
    width: 98px;
    height: 90px;
    overflow: hidden;
    text-align: center;
    line-height: 90px;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    top: 0;
    cursor: pointer;
    border: 1px solid transparent;
}

.pre_btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.prev {
    left: 90px;
}

.next {
    right: 90px;
}

.picMarquee-left2 {
    width: 860px;
    margin: auto;
}

.teacher_info_wrap {
    width: 756px;
    margin-left: 265px;
}
.teacher_tag{
    margin-bottom: 23px;
}
.teacher_tag span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    height: 32px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 32px;
    font-size: 16px;
    color:rgb(85,85,85);
    margin: 5px 15px 5px 0;
    background-color: rgb(255,231,255);
}

.picFocus .bd{
    overflow: hidden;
}
.tout_wrap {
    /*padding: 25px;*/
    height: 293px;
    width: 1039px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    border: 1px solid #e5e5e5;
}
.tinter_wrap{
    height: auto!important;
}
.t_name {
    font-size: 30px;
    color: #333333;
    margin-bottom: 25px;
    padding-top: 30px;
}
.teacher_intra {
    padding: 7px 0;
    font-size: 18px;
    color: #181818;
}
.teacher_cg {
    max-height: 122px;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #333333;
    font-size: 16px;
}

.teacher_cg p:nth-child(1) {
    padding: 7px 0;
}

.t_sub_name {
    font-size: 24px;
    color: #212121;
    margin-bottom: 7px;
}

.t_sub_list li {
    width: 46%;
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
    background: url("../images_gmat/icon-point.png") no-repeat 0 center;
}

.t_sub_list li a {
    display: block;
}

.t_sub_list li a:hover {
    text-decoration: underline;
    color: #ff2a34;
}

.teacher_index_big_head {
    height: 295px;
    width: 240px;
    background: white;
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 99;
    overflow: hidden;
}

.teacher_index_big_head img{
    width: 100%;
    height: 100%;
}
.gmatsub_tit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #333333;
}
.gmatsub_tit {
    padding: 50px 0;
}
.w12{
    width: 1200px;
    margin: auto;
}
/*工具*/
.tool {
    width: 1200px;
    margin: auto;
}
.tool>ul {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 0;
}
.tool li {
    position: absolute;
    display: inline-block;
}
.tool>ul li a{
    display: block;
    line-height: 60px;
    font-size: 0;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 宋体;
}
.tool>ul li a span{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.tool>ul li:first-child {
    position: absolute;
    z-index: 6;
}
.tool>ul li:first-child a .one {
    width: 155px;
    height: 100%;
    background-color: rgb(151,70,148);
    color: white !important;
}
.tool>ul li:first-child a .two {
    border: 30px solid transparent;
    border-left-color: rgb(151,70,148);
}
.tool>ul li:nth-child(2) {
    z-index: 5;
    left: 165px;
}
.tool>ul li:nth-child(3) {
    z-index: 4;
    left: 375px;
}
.tool>ul li:nth-child(4) {
    z-index: 3;
    left: 585px;
}
.tool>ul li:nth-child(5) {
    z-index: 2;
    left: 795px;
}
.tool>ul li:nth-child(6) {
    z-index: 1;
    left: 1005px;
}
.tool>ul li:nth-child(2) a .zero,
.tool>ul li:nth-child(3) a .zero,
.tool>ul li:nth-child(4) a .zero,
.tool>ul li:nth-child(5) a .zero,
.tool>ul li:nth-child(6) a .zero {
    position: relative;
    width: 40px;
    height: 60px;
    background-color: #c7c7c7;
}
.tool>ul li:nth-child(2) a .zero:before,
.tool>ul li:nth-child(3) a .zero:before,
.tool>ul li:nth-child(4) a .zero:before,
.tool>ul li:nth-child(5) a .zero:before,
.tool>ul li:nth-child(6) a .zero:before{
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    border: 30px solid transparent;
    border-left-color: #fff;
}
.tool>ul li:nth-child(2) a .one,
.tool>ul li:nth-child(3) a .one,
.tool>ul li:nth-child(4) a .one,
.tool>ul li:nth-child(5) a .one,
.tool>ul li:nth-child(6) a .one {
    width: 155px;
    height: 100%;
    background-color: #c7c7c7;
}
.tool>ul li:nth-child(2) a .two,
.tool>ul li:nth-child(3) a .two,
.tool>ul li:nth-child(4) a .two,
.tool>ul li:nth-child(5) a .two {
    border: 30px solid transparent;
    border-left-color: #c7c7c7;
}
.tool>ul li:hover a .zero {
    /*border-left-color: rgb(151,70,148);*/
    background-color: rgb(151,70,148);
}
.tool>ul li:hover a .one{
    background-color: rgb(151,70,148);
    color: white;
}
.tool>ul li:hover a .two {
    border-left-color:rgb(151,70,148);
}
.one{
    font-size: 22px;
    font-weight: bold;
}
/*
  课程活动
*/
.active {
    width: 1200px;
    margin: 90px auto 50px;
}
.active>h3 {
    text-align: center;
}
.active>a {
    display: block;
    margin-bottom: 15px;
    text-align: right;
    font-size: 16px;
    color: rgb(154,154,154);
}
.active>a b{
    font: 400 14px/30px simsun;
}
.active .wrap .left {
    float: left;
    width: 265px;
    height: 355px;
    background-color: #ccc;
}
.active .wrap .left>img {
    width: 100%;
    height: 100%;
}
.active .wrap .right {
    width: 780px;
    height: 355px;
    overflow: hidden;
    margin-left: 320px;
}
.active .right li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed rgb(239,239,239);
}
.active .right li a{
    display: block;
}
.active .right li a b{
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: 宋体;
}
.active .right li a p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #595959;
}
.active .right li>p {
    font-size: 14px;
    color: #595959;
}



