*{
    margin: 0;
    padding: 0;
}
body{
    /*font-size: 16px;*/
}
.enrollCover{
    width: 100%;
    padding: 70px 0;
    background: url("/cn/images/school/admit-bg.png")no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.enrollSlider{
    width: 900px;
    margin: 0 auto;
    background: white;
    padding: 20px 0;
    overflow: hidden;
}
.enrollBd{
    height: 21px;
}
.enrollBd ul li{
    /*width: 400px;*/
    width: auto!important;
    color: rgb(173,173,173);
    padding-right: 100px;
    float: left;
    font-size: 16px;
}
.enrollBd .tempWrap{
    width: 100%!important;
}
.enrollContent{
    width: 900px;
    margin: 40px auto;
    padding: 33px 0 36px 0;
    background-color: white;
}
.backTitle{
    text-align: center;
}
.backTitle>h1{
    font-size: 30px;
    color: rgb(51,45,40);
    padding-bottom: 20px;
}
.backTitle p{
    color: rgb(173,173,173);
    font-size: 15px;
}
.enrollBox{
    width: 650px;
    margin: 0 auto;
}
/*搜索框*/
.search-lu-group{
    width: 100%;
    margin: 33px 0;
}
.search-school {
    float: left;
}
.sea-name {
    float: left;
    font-size: 16px;
    color: rgb(153,68,153);
    margin-top: 5px;
}
.sea-name b {
    vertical-align: middle;
    color: rgb(153,68,153);
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}
.sea-name span{
    display: inline-block;
    margin-right: 10px;
}
.sea-input {
    width: 192px;
    height: 30px;
    line-height: 25px;
    float: left;
    border: 1px rgb(153,68,153) solid;
    border-radius: 5px;
    position: relative;
}
.sea-input input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    font-size: 14px;
    padding-left: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search-btn {
    width: 29px;
    height: 100%;
    background-color: rgb(153,68,153);
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}
.s-i-select {
    width: 99%;
    height: 200px;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 28px;
    z-index: 2;
    border: 1px rgb(153,68,153) solid;
    background-color: white;
    display: none;
}
.s-i-select ul li span {
    font-size: 14px;
    color: grey;
}
/* 设置滚动条的样式 */
.s-m-select .dropdown-menu::-webkit-scrollbar {
    width: 6px;
}
/* 滚动槽 */
.s-m-select .dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(44, 44, 44, 0.27);
}
/* 滚动条滑块 */
.s-m-select .dropdown-menu::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgb(153,68,153);
}
.s-m-select .dropdown-menu::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(153,68,153,0.57);
}
/* 滚动槽 */
.s-i-select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(44, 44, 44, 0.27);
}
/* 滚动条滑块 */
.s-i-select::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgb(153,68,153);
}
.s-i-select::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(153,68,153,.57);
}
.s-i-select ul li{
    padding: 5px 0;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.s-i-select ul li span{
    font-size: 12px;
    color: grey;
}
.s-i-select ul li:hover{
    cursor: pointer;
    background-color: rgb(153,68,153);
    color: white;
}
.search-major{
    float: right;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.s-m-select {
    float: left;
}
.s-m-select .btn-group button {
    width: 180px;
    height: 30px;
    border: 1px rgb(153,68,153) solid;
    border-radius: 5px;
    outline: none;
}
.btn-group .btn {
    padding: 0;
    position: relative;
    float: left;
}
.btn-group button {
    width: 135px;
    height: 21px;
    border: 1px #cccccc solid;
    border-radius: 0;
    text-align: left;
    color: #343434;
    padding-left: 10px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.s-m-select .btn-group button b {
    font-weight: normal;
    color: #787878;
}
.rightJ-btn {
    width: 29px;
    height: 100%;
    display: block;
    line-height: 30px;
    background-color: rgb(153,68,153);
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

.s-m-select .dropdown-menu {
    min-width: 100%;
    height: 200px;
    overflow: auto;
    border: 1px rgb(153,68,153) solid;
    box-shadow: none;
    border-radius: 0;
}
.dropdown-menu {
    width: 100%;
    position: absolute;
    top: 92%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    display: none;
}
.school_category{
    -webkit-box-shadow:  0 3px 5px #ccc;
    -moz-box-shadow:  0 3px 5px #ccc;
    box-shadow:  0 3px 5px #ccc;
}

/*个人成绩*/

.perGradsH4{
    color:rgb(153,68,153);
    font-size: 18px;
    border-bottom: 1px #cccccc solid;
    padding-bottom: 10px;
    font-weight: normal;
}
.person ul li {
    width: 90%;
    margin: 20px auto 0;

}
.person>ul li label b{
    vertical-align: middle;
    color: rgb(153,68,153);
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}
.person>ul li label span {
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
}
.person ul li input {
    width: 280px;
    height: 40px;
    border: 1px #cccccc solid;
    border-radius: 5px;
    text-indent: 20px;
    font-size: 16px;
    background: white;
}
.school ul li {
    width: 90%;
    margin: 20px auto;
    font-size: 16px;
}
.school ul li span.before-name {
    display: inline-block;
    text-align: right;
}
.school>ul li label b{
    vertical-align: middle;
    color: rgb(153,68,153);
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}
.school>ul li label span {
    font-size: 16px;
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
}
.school ul li label{
    margin-right: 15px;
}
.school ul li input[type='text'] {
    width: 280px;
    height: 40px;
    border: 1px #cccccc solid;
    border-radius: 5px;
    text-indent: 20px;
    font-size: 16px;
    background: white;
}
.school ul li .btn-group .btn{
    width: 280px;
    height: 40px;
    border: 1px #cccccc solid;
    border-radius: 5px;
    text-indent: 20px;
    font-size: 16px;
    background: white;
}
.school ul li span.before-name {
    width: 128px;
    display: inline-block;
    text-align: right;
}
#xinqu{
    overflow: hidden;
    margin-top: 10px;
}
#xinqu li {
    width: auto;
    float: left;
    margin: 5px 12px 5px 5px;
}
.subbtn {
    width: 148px;
    height: 40px;
    display: block;
    margin: 0 auto;
    background-color: rgb(153,68,153);
    border-radius: 3px;
    color: white;
    margin-top: 46px;
    border: none;
    font-size: 16px;
}
.back-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.44);
    display: none;
}
.in-b-disc{
    width: 469px;
    height: 463px;
    position: fixed;
    top: 50%;
    margin-top: -231px;
    left: 50%;
    margin-left: -214px;
    border-radius: 3px;
}
.in-b-top{
    width: 100%;
    height: 55px;
    line-height: 55px;
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: rgb(153,68,153);
}
.in-b-bot{
    width:100%;
    height: 411px;
    background: url("/cn/images/school/choose-bg.png")no-repeat;
    background-size: cover;
    padding-top: 10px;
}
.in-b-bot p.blue{
    font-size: 12px;
    color: #1192cd;
    text-align: center;
    font-weight: bold;
}
.in-b-bot ul li:first-child{
    margin-top: 20px;
}
.in-b-bot ul li{
    width: 251px;
    margin: 0 auto;
    margin-top: 15px;
}
.in-b-bot ul li label.font{
    color:#333333;
    font-size: 16px;
    font-weight: normal;
    margin-left: 32px;
}
.in-b-bot ul li label.font:hover{
    cursor: pointer;
}
.group_check{
    position: relative;
}
.group_check input{
    display: none;
    position: absolute;
}
.group_check label{
    position: relative;
    display: block;
    cursor: pointer;
}
.group_check label:after{
    content: '';
    width: 4px;
    height: 8px;
    border-right: 1.5px #1192cd solid;
    border-bottom: 1.5px #1192cd solid;
    transform:rotate(45deg);
    position: absolute;
    left: 11px;
    top: 4px;
    display: none;
}
.group_check label:before{
    content: '';
    width: 13px;
    height: 13px;
    border: 1px #1192cd solid;
    /*border-radius: 5px;*/
    position: absolute;
    left: 6px;
    top: 3.5px;
}
.group_check input:checked+label:after{
    display: block;
}
.group_check input:checked+label:before{
    border: 1px #1192cd solid;
}
.new-sub{
    width: 120px;
    height: 30px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: rgb(153,68,153);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 25px;
}
/*专业显示遮罩层*/
.t-major-mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index:999;
    display: none;
}
.t-m-in{
    width: 800px;
    height: 400px;
    background-color: white;
    padding: 20px 0;
    position: fixed;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -200px;
}
.t-m-close{
    font-size: 30px;
    color: #827f7f;
    position: absolute;
    top: -5px;
    right: 5px;
}
.t-m-close:hover{
    cursor: pointer;
}
.t-m-in h4{
    font-size: 15px;
    font-weight: bold;
    color: rgb(153,68,153);
    text-align: center;
    margin-bottom: 30px;
}
.t-m-in ul{
    margin: 0 auto;
    margin-bottom: 50px;
}
.t-m-in ul:after{
    content: '';
    height: 0;
    overflow: hidden;
    display: block;
    clear: both;
}
.t-m-in ul li{
    float: left;
    text-align: center;
    color: #333333;
    font-size: 16px;
    padding: 3px 0;
    margin-bottom: 5px;
}
.t-m-in ul li:hover{
    cursor: pointer;
}
.t-m-in ul.first-ul{
    margin-left: 10px;
}
.t-m-in ul.first-ul li{
    width: 120px;
}
.t-m-in ul.first-ul li:hover{
    color: white;
    background-color:rgb(153,68,153);
}
.t-m-in ul.second-ul{
    margin-left: 20px;
}
.t-m-in ul.second-ul li{
    width: 110px;
}
.t-m-in ul.second-ul li.diffw{
    width: 120px;
}
.t-m-in ul li.on{
    color: white;
    background-color:rgb(153,68,153);
}
.t-m-btn{
    margin-top: 260px;
    text-align: center;
}
.t-m-btn input{
    width: 88px;
    height: 27px;
    border: none;
    background-color: rgb(153,68,153);
    color: white;
}
.t-m-btn input.mr{
    margin-right: 30px;
}
.second_page{
    width: 100%;
    height: 200px;
    overflow: auto;
    position: absolute;
    left: 0;
    display: none;
    background-color:beige;
    padding: 20px 0px;
}
.t-m-in ul li:hover .second_page{
    display: block;
}
.btn-group button span.caret {
    color: #bababa;
    border-width: 8px;
    position: absolute;
    right: 5px;
    top: 6px;
}

