.w10 {
    position: relative;
    width: 1228px;
    margin: 0 auto;
    height: 100%;
    /*overflow: hidden;*/
    /*outline: 1px solid red;*/
}
*{
    margin: 0;
    padding: 0;
}
/************************头部********************/
.sy-header {
    padding: 10px 0;
    background: #974694;
}
.nav-top{
    display: flex;
    display: -webkit-flex;
}
.refer-btn {
    margin-left: 20px;
    margin-top: 4px;
    display: inline-block;
    width: 75px;
    text-align: center;
    background: #ffffff;
    line-height: 20px;
    border-radius: 10px;
    font-size: 14px;
    color: #974694;
}

.search-wrap {
    margin-top: 2px;
}

input.search {
    outline: none;
    border: none;
    width: 130px;
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 6px;
    border-radius: 2px;
    line-height: 22px;
}

.login-wrap {
    font-size: 0;
    margin-left: 130px;
}

.login-wrap span {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    font-size: 14px;
    border-radius: 2px;
    color: #ffffff;
    padding: 0 8px;
}

.login-wrap span.on {
    color: #974694;
    background: #ffffff;
}


/***************导航栏******************/
.nav-flexd {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    background: #974694;
}
.a-fiexd {
    color: #ffffff;
}
.a-fiexd:hover {
    text-decoration: underline;
}

.nav-wrap {
    padding: 10px 0;
}
.nav-list {
    /*margin-left: 25px;*/
}
.nav-list li {
    float: left;
    position: relative;
}
.nav-list li a {
    padding: 0 7px;
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
    font-size: 15px;
    border-radius: 2px;
}
.nav-list li a.on {
    color: #ffffff;
    background: #974694;
}
.nav-list li:nth-child(2):hover .nav2-wrap {
    display: block;
}
.nav-list li:nth-child(2) .nav2-wrap {
   width: 450px;
   padding: 20px 0 0 0;
   left: 0;
   top:42px;
}
.nav2-wrap {
    display: none;
    position: absolute;
    z-index: 999;
    background: #974694;
}
.nav-list li:nth-child(2) .nav2-list .nav2-left {
    margin-bottom: 20px;
}
.nav2-list .nav2-left a {
    color: #ffffff;
    font-size: 16px;
    padding: 0 15px;
    line-height: 34px;
}
.nav2-list .nav2-right li > a {
    color: #ffffff;
    font-size: 16px;
    line-height: 80px;
}
.nav2-list .nav2-right li {
    width: 100px;
    text-align: left;
}
.nav2-name {
    font-size: 16px;
    color: #ffffff;
    padding: 0 15px;
}
/********************Banner***********************/
.banner-wrap {
    position: relative;
    height: 420px;
}

.banner {
    width: 100% !important;
    height: 420px;
    overflow: hidden;

}

.banner li {
    height: 420px;
    width: 100% !important;
    overflow: hidden;
}

.banner li a {
    width: 100%;
    height: 100%;
    background: #000000;
    display: block;
}

.slideBox .hd {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -296px;
    bottom: 15px;
    z-index: 10;
}

.slideBox .hd li {
    opacity: 0.5;
    width: 70px;
    height: 4px;
    float: left;
    margin: 0 2px;
    border-radius: 4px;
    background: #ffffff;
}

.slideBox .hd li.on {
    background: #802F8A;
}
/*专属定制，左边悬浮*/
.info-wrap {
   position: fixed;
   width: 10%;
   top: 50%;
   margin-top: -160px;
   z-index: 10;
}
.text-wrap {
	padding: 5px 10px;
	background: rgba(51, 80, 159, 0.8);
	border-radius: 10px;
}
.info-tit {
	color: white;
	font-size: 12px;
	margin: 5px 0 3px 0;
}
h1.info-tit {
	font-size: 20px;
	text-align: center;
}
.info-select {
 	width: 92%;
 	font-size: 12px;
 	border: none;
 	outline: none;
 	padding: 0 10px;
 	background: url("../images/tri-1.png") no-repeat 92% center, #ffffff;
	background-size: 9px 5px;
	-moz-appearance: none;
	border-radius: 5px;
	font-family: 微软雅黑, u5faeu8f6fu96c5u9ed1, "Microsoft YaHei UI";
}
.info-int {
	border: none;
	outline: none;
	width: 81%;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 12px;
}
.codeWrap .info-int{
	width: 25%;
}
.codeWrap .codeBtn{
	border: none;
	padding: 0 5px;
	background-color: #35CD69;
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
}
.info-btn {
	width: 91%;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	margin: 10px 0 5px 0;
	color: #fff;
	background-color: #35CD69;
	border: 1px solid #fff;
	border-radius: 20px;
	line-height: 25px;
}
.info-btn:hover {
    background: #29a351;
}
@media screen and (min-width: 1600px){

	.info-tit{
		font-size: 14px;
	}
	.info-select,.info-int{
		height: 20px;
		line-height: 20px;
	}
	.info-btn{
		font-size: 18px;
		height: 30px;
		line-height: 30px;
	}
}
@media only screen and (max-width: 1600px) {
	.info-wrap {
	   width: 155px;
	}
}


/*****************************footer*********************/
footer {
    height: 363px;
    background: url("../images/bg-5.png") no-repeat center center;
    background-size: cover;
}

.footer-list-wrap {
    padding-top: 20px;
}

.footer-list {
    float: left;
    padding: 0 82px;
    height: 140px;
    border-right: 1px solid #ffffff;
}

.footer-list li {
    margin-bottom: 7px;
}

footer .footer-list:first-child {
    padding-left: 0;
}

footer .footer-list:last-child {
    padding-right: 0;
    border: none;
}

.footer-list li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.ft2 {
    margin-right: 5px;
    width: 125px;
}

.ft2 li:nth-child(odd) {
    float: left;
}

.ft2 li:nth-child(even) {
    float: right;
}

.ft-tel-wrap {
    margin: 20px 0;
}

.ft-tel {
    padding-left: 20px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.ft-erm-wrap {
    font-size: 0;
    padding: 4px;
    margin-right: 50px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}

.ft-erm-wrap:last-child {
    margin-right: 0;
}

.ft-erm-name {
    vertical-align: middle;
    font-size: 14px;
    margin: 0 5px;
    color: rgba(255, 255, 255, 0.8);
}

/****************************copyRight*****************/
.copyRight {
    padding: 15px 0;
    background: #EEEEEF;
}

.copyRight span, .copyRight a {
    font-size: 14px;
}

.copyRight a:hover {
    color: #FF0000;
}

.copyRight .link-tit {
    font-weight: bold;
}

/*****************海外Mentro*****************/
.abroad-wrap {
    width: 910px;
    padding: 0 45px;
    height: 430px;
    background: url("../images/bg-6.png") no-repeat center center;
}

h1.abroad-tit {
    padding: 15px 0 25px;
    font-size: 32px;
    color: #ffffff;
    font-weight: normal;
}

.abroad-intro {
    position: relative;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 30px;
}

.abroad-intro p {
    padding: 0 15px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
}

.abroad-intro .tri-2 {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -44px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 24px solid #ffffff;
    border-bottom: 20px solid transparent;
}

.abroad-line {
    position: absolute;
    left: 0;
    top: -5px;
    width: 370px;
    height: 7px;
    border-radius: 2px;
    background: #ffff00;
}

.abroad-img {
    width: 160px;
    height: 160px;
    text-align: center;
    border-radius: 50%;
    line-height: 160px;
    margin: 0 auto;
    overflow: hidden;
}

.abroad-slide {
    overflow: hidden;
    margin: 5px auto 0;
    text-align: center;
}

.abroad-slide li {
    cursor: pointer;
    margin: 0 3px;
    display: inline-block;
    vertical-align: middle;
    width: 39px;
    height: 6px;
    border-radius: 3px;
    background: #999999;
}

.abroad-slide li:last-child {
    margin-right: 0;
}

.abroad-slide li.on {
    background: #ffffff;
}
/*中间弹窗*/
.m-tc{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
}
.ic-wrap{
    position: relative;
    width: 521px;
    height: 322px;
    margin: 0 auto;
}
.ic-close{
    position: absolute;
    right: 20px;
    top: 12px;
    width: 30px;
    height: 30px;
}
