.w10 {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    /*outline: 1px solid red;*/
}

/************************头部********************/
.sy-header {
    padding: 10px 0;
    background: #974694;
}

.refer-btn {
    margin-left: 20px;
    margin-top: 4px;
    display: inline-block;
    width: 75px;
    text-align: center;
    background: #ffffff;
    line-height: 20px;
    border-radius: 10px;
    font-size: 14px;
    color: #974694;
}

.search-wrap {
    margin-top: 2px;
}

input.search {
    outline: none;
    border: none;
    width: 130px;
    font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 6px;
    border-radius: 2px;
    line-height: 22px;
}

.login-wrap {
    font-size: 0;
    margin-left: 130px;
}

.login-wrap span {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    font-size: 14px;
    border-radius: 2px;
    color: #ffffff;
    padding: 0 8px;
}

.login-wrap span.on {
    color: #974694;
    background: #ffffff;
}

/***************导航栏******************/
.nav-flexd {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    background: #974694;
}
.a-fiexd {
    color: #ffffff;
}
.a-fiexd:hover {
    text-decoration: underline;
}

.nav-wrap {
    padding: 10px 0;
}
.nav-list {
    /*margin-left: 25px;*/
}
.nav-list li {
    float: left;
    position: relative;
}
.nav-list li a {
    padding: 0 7px;
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
    font-size: 15px;
    border-radius: 2px;
}
.nav-list li a.on {
    color: #ffffff;
    background: #974694;
}
.nav-list li:nth-child(2):hover .nav2-wrap {
    display: block;
}
.nav-list li:nth-child(2) .nav2-wrap {
   width: 450px;
   padding: 20px 0 0 0;
   left: 0;
   top:42px;
}
.nav2-wrap {
    display: none;
    position: absolute;
    z-index: 999;
    background: #974694;
}
.nav-list li:nth-child(2) .nav2-list .nav2-left {
    margin-bottom: 20px;
}
.nav2-list .nav2-left a {
    color: #ffffff;
    font-size: 16px;
    padding: 0 15px;
    line-height: 34px;
}
.nav2-list .nav2-right li > a {
    color: #ffffff;
    font-size: 16px;
    line-height: 80px;
}
.nav2-list .nav2-right li {
    width: 100px;
    text-align: left;
}
.nav2-name {
    font-size: 16px;
    color: #ffffff;
    padding: 0 15px;
}
/********************Banner***********************/
.banner-wrap {
    position: relative;
    height: 420px;
}

.banner {
    width: 100% !important;
    height: 420px;
    overflow: hidden;

}

.banner li {
    height: 420px;
    width: 100% !important;
    overflow: hidden;
}

.banner li a {
    width: 100%;
    height: 100%;
    background: #000000;
    display: block;
}

.slideBox .hd {
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -296px;
    bottom: 15px;
    z-index: 10;
}

.slideBox .hd li {
    opacity: 0.5;
    width: 70px;
    height: 4px;
    float: left;
    margin: 0 2px;
    border-radius: 4px;
    background: #ffffff;
}

.slideBox .hd li.on {
    background: #802F8A;
}
/*专属定制，左边悬浮*/
.info-wrap {
   position: fixed;
   width: 10%;
   top: 50%;
   margin-top: -160px;
   z-index: 10;
}
.text-wrap {
	padding: 5px 10px;
	background: rgba(51, 80, 159, 0.8);
	border-radius: 10px;
}
.info-tit {
	color: white;
	font-size: 12px;
	margin: 5px 0 3px 0;
}
h1.info-tit {
	font-size: 20px;
	text-align: center;
}
.info-select {
 	width: 92%;
 	font-size: 12px;
 	border: none;
 	outline: none;
 	padding: 0 10px;
 	background: url("../images/tri-1.png") no-repeat 92% center, #ffffff;
	background-size: 9px 5px;
	-moz-appearance: none;
	border-radius: 5px;
	font-family: 微软雅黑, u5faeu8f6fu96c5u9ed1, "Microsoft YaHei UI";
}
.info-int {
	border: none;
	outline: none;
	width: 81%;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 12px;
}
.codeWrap .info-int{
	width: 25%;
}
.codeWrap .codeBtn{
	border: none;
	padding: 0 5px;
	background-color: #35CD69;
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
}
.info-btn {
	width: 91%;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	margin: 10px 0 5px 0;
	color: #fff;
	background-color: #35CD69;
	border: 1px solid #fff;
	border-radius: 20px;
	line-height: 25px;
}
.info-btn:hover {
    background: #29a351;
}
@media screen and (min-width: 1600px){
	
	.info-tit{
		font-size: 14px;
	}
	.info-select,.info-int{
		height: 20px;
		line-height: 20px;
	}	
	.info-btn{
		font-size: 18px;
		height: 30px;
		line-height: 30px;
	}
}
@media only screen and (max-width: 1600px) {
	.info-wrap {
	   width: 155px;
	}
}

/*******************推荐**********************/
.module-tit {
    padding-top: 35px;
    font-size: 32px;
    color: #1A1A1A;
    font-weight: normal;
    border-bottom: 2px solid #FF0000;
}

.line-2 {
    display: inline-block;
    vertical-align: baseline;
    border-bottom: 3px solid red;
    padding-bottom: 12px;
}

.list-wrap {
    padding: 30px 0 20px;
}

.list-wrap ul{
	margin-bottom: 25px;
}
.list-wrap li{
	float: left;
	width: 182px;
	height: 104px;
	margin-right: 22px;
	position: relative;
	overflow: hidden;
}
.list-wrap img{
	width: 100%;
	height: 100%;
	transition: all .5s;
	-webkit-transition: all .5s;
}
.list-wrap .train li:last-child{
	margin-right: 0;
}
.list-wrap .abroad li:last-child{
	margin-right: 0;
}
.list-wrap p{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 104px;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.list-wrap li:hover img{
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.list-wrap li:hover p{
	background-color: rgba(0,0,0,.3);
	line-height: 80px;
}

/******************留学服务***************/
.serve {
    padding-bottom: 40px;
    background: url("../images/bg-1.png") no-repeat center center;
    background-size: cover;
}

.serve .module-tit {
    color: #f12c34;
    border-bottom: 2px solid #f12c34;
}

.serve-list {
    margin: 35px 0;
}

.serve-list li {
    float: left;
    cursor: pointer;
    overflow: hidden;
    width: 182px;
    margin-right: 22px;
}

.serve-list li:last-child {
    margin-right: 0;
}

.serve-list li:hover .serve-img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.serve-list li:hover .serve-text {
    animation: bg-color 0.3s linear both;
    -webkit-animation: bg-color 0.3s linear both;
}

@keyframes bg-color {
    from {
        background: #ffffff;
    }
    to {
        background: #ff6600;
    }
}

@-webkit-keyframes bg-color {
    from {
        background: #ffffff;
    }
    to {
        background: #ff6600;
    }
}

.serve-list li:hover .serve-name {
    color: #ffffff;
}

.serve-list li:hover .serve-line {
    background: #ffffff;
}

.serve-list li:hover .serve-de {
    color: #ffffff;
}

.serve-list li:hover .serve-btn {
    background: #ffffff;
    color: #ff6600;
}

.serve-img {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.serve-text {
    background: #ffffff;
    padding: 30px 0 25px;
}

.serve-btn {
    margin: 0 auto;
    display: block;
    width: 100px;
    font-size: 14px;
    color: #ffffff;
    line-height: 25px;
    border-radius: 15px;
    background: #ff6600;
}

.serve-name {
    position: relative;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    color: #1A1A1A;
}

.serve-de {
    padding: 5px 0 10px;
    font-size: 14px;
    color: #999999;
}

.serve-line {
    position: absolute;
    width: 45px;
    height: 1px;
    left: 50%;
    margin-left: -22px;
    bottom: 0;
    background: #cccccc;
}

.serve2-list li {
    float: left;
    width: 260px;
    /*height: 230px;*/
    margin-right: 20px;
    padding: 0 30px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.85);
}

.serve2-list li:last-child {
    margin-right: 0;
}

.serve2-list li a:hover {
    color: #68f8ff;
    text-decoration: underline;
}

.serve2-tit {
    padding-top: 25px;
    padding-bottom: 4px;
    border-bottom: 1px dashed #ffffff;
}

.serve2-name-wrap {
    margin-top: 3px;
}

.serve2-name {
    margin-left: 4px;
    display: inline-block;
    vertical-align: sub;
    font-size: 18px;
    color: #E6E6E6;
}

.serve-more {
    margin-top: 10px;
    font-size: 14px;
    color: #E6E6E6;
}

.serve2-list dt {
    margin: 15px 0;
    padding-left: 15px;
    text-align: left;
    background: url("../images/point.png") no-repeat 0 10px;
}

.serve2-list dl a {
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 240px;
    white-space: nowrap;
    color: #E6E6E6;
    font-size: 14px;
}

/****************考试服务******************/
.test {
    padding-bottom: 40px;
    background: url("../images/bg-2.png") no-repeat center center;
    background-size: cover;
}

.test .module-tit {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.test-list {
    padding: 45px 0 5px;
}

.test-list li {
    position: relative;
    overflow: hidden;
    zoom: 1;
    float: left;
    margin-right: 33px;
    width: 225px;
    height: 150px;
    margin-bottom: 30px;
}

.test-list li:nth-child(4n) {
    margin-right: 0;
}

.test-list .test-name {
    width: 54px;
    height: 54px;
    position: absolute;
    left: 50%;
    margin-left: -27px;
    top: 50%;
    margin-top: -27px;
    z-index: 7;
    line-height: 54px;
    background: #ffffff;
    border-radius: 50%;
    font-size: 32px;
    color: #1A1A1A;
}

.test-list li:hover img.test-img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.test-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.test-de {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    line-height: 34px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.6);
}

.test-de:hover {
    color: #fff55a;
}

.testLeft-wrap {
    width: 160px;
    height: 400px;
}

.testLeft-wrap .erm-wrap {
    width: 140px;
    padding: 10px;
    /*padding: 47px 50px;*/
    /*background: rgba(255, 255, 255, 0.65);*/
    background: rgba(109, 98, 98, 0.38);
}

.testLeft-wrap .erm-name {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    line-height: 30px;
    /*line-height: 55px;*/
    border-top: 1px solid #000000;
    background: #36BD71;
}

.testRight-wrap {
    width: 780px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
}
.slide02{
    text-align: left;
    overflow: hidden;
    height: 290px;
    padding: 20px 75px;
}
.topicBd{
    height: 290px;
    overflow: hidden;
}
.rightServe-name {
    padding: 15px 75px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    background: #36BD71;
}

.rightServe-name a.more {
    color: #ffffff;
    font-size: 24px;
    margin-top: 3px;
    font-weight: normal;
}
.topic-list {
height: 290px;
    overflow: hidden;

}

.topic-list li {
    /*padding: 4px 0;*/
    width: 275px;
    height: 70px;
    margin-bottom: 5px;
}
/*.topic-list li:nth-child(even){*/
    /*float: right;*/
/*}*/
/*.topic-list li:nth-child(odd){*/
    /*float: left;*/
/*}*/
.topic-list li:hover a{
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
}

.topic-list li a {
    padding-left: 10px;
    display: block;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    color: #ffffff;
    background: rgba(77, 77, 77, 0.38);
}
.topic-list li  p.tode{
    color: #cccccc;
    font-size: 12px;
    margin-top: 3px;
    height: 32px;
    padding-left: 3px;
    line-height: 16px;
}

.topic-more {
    display: block;
    color: #ffffff;
    font-size: 24px;
    background: #ff6600;
    /*line-height: 55px;*/
    line-height: 40px;
}

.topic-more:hover {
    color: #e8e8e8;
}

/******************热门学校****************/
.hotSchools {
    padding-top: 20px;
    padding-bottom: 60px;
}

.school-img {
    margin-top: 25px;
    margin-left: 3px;
}

.school-img li {
    float: left;
    width: 128px;
    height: 135px;
    padding: 20px;
    margin-left: -2px;
    margin-bottom: 5px;
    overflow: hidden;
}

.school-img li img {
    /*width: 100%;*/
    height: 100%;
}

.school-btn {
    font-size: 18px;
    color: #ffffff;
    font-family: 微软雅黑, \u5fae\u8f6f\u96c5\u9ed1;
    line-height: 48px;
    background: #974694;
}

/*********************申友成就梦想********************/
.sy-dream {
    padding-bottom: 20px;
    background: url("../images/bg-4.png") no-repeat center center;
    background-size: cover;
}

.sy-dream .module-tit {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.enroll-wrap {
    height: 367px;
    padding: 7px 5px;
    background: url("../images/bg-3.png") no-repeat center center, #ffffff;
}

.student-img {
    width: 434px;
    height: 367px;
    line-height: 367px;
    overflow: hidden;
}

.student-img img {
    width: 100%;
}

.enroll-school {
    width: 385px;
    margin-right: 60px;
    margin-top: 70px;
    text-align: left;
}

.stu-name {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
}

.school-name {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 15px;
}

.stu-intro {
    font-size: 14px;
    color: #ececec;
    width: 355px;
    line-height: 24px;
    padding-left: 30px;
    text-align: justify;
    background: url("../images/tri-2.png") no-repeat 0 5px;
}

.slideBox-4 {
    width: 1000px;
    height: 410px;
    overflow: hidden;
}

.enroll-wrap {
    width: 990px;
    margin-top: 30px;
}

.enroll-wrap .show-btn {
    width: 70px;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    background: #4D91FF;
    line-height: 24px;
    border-radius: 2px;
}

.enroll-wrap .show-btn:hover {
    background: #3e75ce;
}

.enroll-list-wrap {
    margin-top: 35px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
}

.txtMarquee-top {
    height: 75px;
    overflow: hidden;
}

.enroll-list li {
    overflow: hidden;
}

.enroll-list .stu-img {
    width: 80px;
    height: 70px;
    margin: 0 20px;
    line-height: 70px;
    overflow: hidden;
}

.stuIntro-wrap {
    text-align: left;
    height: 70px;
    width: 820px;
    padding-top: 5px;
}

.stuIntro-wrap p {
    color: #ffffff;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
}

/****************************选择申友，掌握未来*********************/
.syIntro-tit {
    font-size: 32px;
    color: #1A1A1A;
    position: relative;
    font-weight: normal;
    text-align: center;
    margin-top: 40px;
}

.syIntro-tit:before {
    margin-right: 25px;
    content: url("../images/t1-line.png");
}

.syIntro-tit:after {
    margin-left: 25px;
    content: url("../images/t2-line.png");
}

.teacher-list {
    padding: 40px 70px 0;
}

.teacher-list li {
    overflow: hidden;
    width: 365px;
    margin-bottom: 40px;
    outline: 1px solid #E6E6E6;
}

.teacher-list li:nth-child(odd) {
    float: left;
}

.teacher-list li:nth-child(even) {
    float: right;
}

.teacher-img {
    width: 160px;
    height: 125px;
    line-height: 125px;
    overflow: hidden;
}

.teacher-img img {
    width: 100%;
}

.teacherInfo-wrap {
    width: 180px;
    height: 125px;
}

.teacher-name {
    font-size: 16px;
    margin: 5px 0 3px;
}

.teacher-tag {
    font-size: 14px;
    line-height: 20px;
}

.refer-btn2 {
    margin-top: 7px;
    display: block;
    width: 72px;
    border-radius: 3px;
    line-height: 24px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background: #802F8A;
}

.refer-btn2:hover {
    color: #ffffff;
    background: #9b36a5;
}

.prev, .next {
    cursor: pointer;
    width: 28px;
    height: 28px;
    top: 50%;
    margin-top: -14px;
    background: #dfdfdf;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background: #979797;
}

.next {
    right: 0;
}

.tri-1 {
    width: 0;
    height: 0;
    margin: 9px auto 0;
    border-left: 6px solid #ffffff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.prev .tri-1 {
    border-left: none;
    border-right: 6px solid #ffffff;
}

/******************研发成果****************/
.books-list {
    outline: 1px solid red;
    /*padding: 40px 34px;*/
}

.books-list li {
    float: left;
    width: 156px;
    height: 176px;
    margin-right: 30px;
}

.books-list li:last-child {
    margin-right: 0;
}

/*******************联系我们***************/
.contact-header {
    /*padding-bottom: 3px;*/
    border-bottom: 1px solid #663399;
}

.contact-header-left span {
    display: inline-block;
    vertical-align: bottom;
}

.contact-ch {
    font-weight: bold;
    font-size: 24px;
}

.contact-tel-text {
    font-size: 14px;
    margin: 0 4px;
}

.contact-tel {
    font-size: 14px;
    color: #663399;
}

.contact-header-right {
    margin-top: 7px;
}

.contact-header-right span {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    font-size: 14px;
    padding: 0 8px;
    margin-right: 2px;
    border-radius: 2px;
}

.contact-header-right span.on {
    color: #ffffff;
    background: #663399;
}

.contact-header-right em {
    font-size: 14px;
    color: #B6B6B7;
}

.area-wrap {
    padding: 15px 0 20px;
}

.area-wrap span {
    font-size: 14px;
}

.area-left {
    width: 390px;
}

.area-name {
    margin-top: -3px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 50px;
}

.area-left-text span {
    vertical-align: top;
}

.left-text {
    width: 180px;
    line-height: 18px;
    vertical-align: top;
    text-align: justify;
}

.area-mid {
    margin-left: 20px;
    width: 325px;
}

.area-mid p {
    font-size: 14px;
    text-align: justify;
}

.area-mid .metro {
    margin-top: 20px;
}

.area-right {
    width: 187px;
}

.area-right-tit {
    width: 140px;
    margin: 15px auto 15px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    background: #663399;
    line-height: 32px;
    font-family: "Microsoft YaHei UI";
}

.form-int {
    margin-top: -3px;
}

.area-form .icon-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    width: 10px;
}

.area-form input[type=text] {
    vertical-align: middle;
    outline: none;
    border: none;
    width: 95px;
    padding: 0 5px;
    height: 15px;
    background: #A79CCB;
}

.area-form em {
    padding: 0 2px 0 1px;
}

.auth-code {
    font-size: 12px;
    color: #ffffff;
    font-family: 微软雅黑, \u5fae\u8f6f\u96c5\u9ed1, "Microsoft YaHei UI";
    background: #666666;
    border-radius: 3px;
    width: 68px;
    vertical-align: baseline;
    margin-left: -4px;
    line-height: 17px;
    text-align: center;
}

.form-submit {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 67px;
    line-height: 18px;
    border-radius: 3px;
    background: #663399;
    color: #ffffff;
}

.form-submit:hover {
    background: #402161;
}

/*****************************footer*********************/
footer {
    height: 363px;
    background: url("../images/bg-5.png") no-repeat center center;
    background-size: cover;
}

.footer-list-wrap {
    padding-top: 20px;
}

.footer-list {
    float: left;
    padding: 0 82px;
    height: 140px;
    border-right: 1px solid #ffffff;
}

.footer-list li {
    margin-bottom: 7px;
}

footer .footer-list:first-child {
    padding-left: 0;
}

footer .footer-list:last-child {
    padding-right: 0;
    border: none;
}

.footer-list li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.ft2 {
    margin-right: 5px;
    width: 125px;
}

.ft2 li:nth-child(odd) {
    float: left;
}

.ft2 li:nth-child(even) {
    float: right;
}

.ft-tel-wrap {
    margin: 20px 0;
}

.ft-tel {
    padding-left: 20px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.ft-erm-wrap {
    font-size: 0;
    padding: 4px;
    margin-right: 50px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}

.ft-erm-wrap:last-child {
    margin-right: 0;
}

.ft-erm-name {
    vertical-align: middle;
    font-size: 14px;
    margin: 0 5px;
    color: rgba(255, 255, 255, 0.8);
}

/****************************copyRight*****************/
.copyRight {
    padding: 15px 0;
    background: #EEEEEF;
}

.copyRight span, .copyRight a {
    font-size: 14px;
}

.copyRight a:hover {
    color: #FF0000;
}

.copyRight .link-tit {
    font-weight: bold;
}

/*****************海外Mentro*****************/
.abroad-wrap {
    width: 910px;
    padding: 0 45px;
    height: 430px;
    background: url("../images/bg-6.png") no-repeat center center;
}

h1.abroad-tit {
    padding: 15px 0 25px;
    font-size: 32px;
    color: #ffffff;
    font-weight: normal;
}

.abroad-intro {
    position: relative;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 30px;
}

.abroad-intro p {
    padding: 0 15px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
}

.abroad-intro .tri-2 {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -44px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 24px solid #ffffff;
    border-bottom: 20px solid transparent;
}

.abroad-line {
    position: absolute;
    left: 0;
    top: -5px;
    width: 370px;
    height: 7px;
    border-radius: 2px;
    background: #ffff00;
}

.abroad-img {
    width: 160px;
    height: 160px;
    text-align: center;
    border-radius: 50%;
    line-height: 160px;
    margin: 0 auto;
    overflow: hidden;
}

.abroad-slide {
    overflow: hidden;
    margin: 5px auto 0;
    text-align: center;
}

.abroad-slide li {
    cursor: pointer;
    margin: 0 3px;
    display: inline-block;
    vertical-align: middle;
    width: 39px;
    height: 6px;
    border-radius: 3px;
    background: #999999;
}

.abroad-slide li:last-child {
    margin-right: 0;
}

.abroad-slide li.on {
    background: #ffffff;
}
/*中间弹窗*/
.m-tc{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
}
.ic-wrap{
    position: relative;
    width: 521px;
    height: 322px;
    margin: 0 auto;
}
.ic-close{
    position: absolute;
    right: 20px;
    top: 12px;
    width: 30px;
    height: 30px;
}