@font-face {
    font-family: 'iconfont';  /* project id 864853 */
    src: url('//at.alicdn.com/t/font_864853_312x1ra4b73.eot');
    src: url('//at.alicdn.com/t/font_864853_312x1ra4b73.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_864853_312x1ra4b73.woff') format('woff'),
    url('//at.alicdn.com/t/font_864853_312x1ra4b73.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_864853_312x1ra4b73.svg#iconfont') format('svg');
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/************************头部********************/
/*.sy-header {*/
    /*padding: 10px 0;*/
    /*background: #974694;*/
/*}*/
/*.nav-top{*/
    /*display: flex;*/
    /*display: -webkit-flex;*/
/*}*/
/*.refer-btn {*/
    /*margin-left: 20px;*/
    /*margin-top: 4px;*/
    /*display: inline-block;*/
    /*width: 75px;*/
    /*text-align: center;*/
    /*background: #ffffff;*/
    /*line-height: 20px;*/
    /*border-radius: 10px;*/
    /*font-size: 14px;*/
    /*color: #974694;*/
/*}*/

/*.search-wrap {*/
    /*margin-top: 2px;*/
/*}*/

/*input.search {*/
    /*outline: none;*/
    /*border: none;*/
    /*width: 130px;*/
    /*font-size: 14px;*/
    /*display: inline-block;*/
    /*vertical-align: bottom;*/
    /*padding: 0 6px;*/
    /*border-radius: 2px;*/
    /*line-height: 22px;*/
/*}*/

/*.login-wrap {*/
    /*font-size: 0;*/
    /*margin-left: 130px;*/
/*}*/

/*.login-wrap span {*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*line-height: 28px;*/
    /*font-size: 14px;*/
    /*border-radius: 2px;*/
    /*color: #ffffff;*/
    /*padding: 0 8px;*/
/*}*/

/*.login-wrap span.on {*/
    /*color: #974694;*/
    /*background: #ffffff;*/
/*}*/



/********************Banner***********************/
.bannerWrap{
    width: 100%;
    overflow: hidden;
}
.banner_head{
    width: 100%;
    position: relative;
}
.banner_head img{
    width: 100%;
    cursor: pointer;
}
.hd_banner{
    position: absolute;
    bottom: 20px;
    left: 50%;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.hd_banner li{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
}
.hd_banner li.on{
    width: 40px;
    background: rgb(153,68,153);
}

/*****************************部分战绩*********************/
.index_Record{
    width: 100%;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
.Record_map{
    position: absolute;
    top: 0px;
    z-index: 1;
}
.Record_content{
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 88;
}
.Record_title{
    text-align: center;
    font-size: 30px;
}
.Record_title_l{
    text-align: center;
    font-size: 20px;
    color: rgb(163,163,163);
    margin: 20px auto 30px;
}
.ut_logo{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-top: 20px;
    padding-left: 10px;
}
.logo_content{
    flex: 1;
    width: 200px;
    padding: 20px 0px 20px 45px;
    margin-right: 10px;
    background: white;
    border-top: 2px solid #ffcdfd;
    /*border-radius: 5px;*/
    -webkit-box-shadow:10px 2px 10px 0px #e0dfdf;
    -moz-box-shadow:10px 2px 10px 0px #e0dfdf;
    box-shadow: 10px 2px 10px 0px #e0dfdf;
}
.logo_content:nth-child(1){
    margin-left: 4px;
}
.uyLogo{
    float: left;
}
.logo_content>div{
    float: left;
    margin-left: 40px;
}
.ut_name{
    font-size: 22px;
}
.ut_num{
    font-size: 18px;
    margin-top: 30px;
}
.ut_num span{
    font-size: 22px;
    font-weight: bold;
}
/*****************************留学服务*********************/
.study_service{
    width: 1200px;
    margin: 70px auto 0;
    position: relative;
    z-index: 88;
}
.service_line{
    width: 35px;
    height: 3px;
    background: rgb(153,68,153);
    margin:20px auto;
}
.first_title{
    font-size: 20px;
    padding: 40px 0px 10px 20px;
    border-bottom:1px solid rgb(243,243,243);
}
.first_title>span{
    font-size: 26px;
    font-weight: bold;
    color: rgb(153,68,153);
    margin-right: 10px;
}
.service_bd ul li{
    width: 230px;
    height: 310px;
    background: black;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    float: left;
    overflow: hidden;
}
.service_bd{
    max-height: 310px;
    overflow: hidden;
}
.service_bd ul li img{
    width: 100%;
}
.service_bot{
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}
.service_bot p{
    text-align: center;
    font-size: 18px;
    color: white;
}
.service_bot a{
    display: inline-block;
    color: white;
    font-size: 15px;
    background: url("/cn/Hirsi/images/detail-btn.png")no-repeat center;
    padding: 3px 12px;
    border-radius: 15px;
    margin-top: 10px;
}
.service_list{
    margin-top: 30px;
    position: relative;
}
.service_list .next{
    display: inline-block;
    position: absolute;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(238,238,238);
    text-align: center;
    line-height: 40px;
    left: -70px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}
.service_list .prev{
    display: inline-block;
    position: absolute;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(238,238,238);
    text-align: center;
    line-height: 40px;
    right: -70px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}
/*****************************留学七步曲*********************/
.steps_study{
    width: 1150px;
    margin:30px auto;
    overflow: hidden;
}
.steps_left{
    width: 320px;
    height: 380px;
    float: left;
    background: black;
    background: url("/cn/Hirsi/images/crm-1.png")no-repeat center;
}
.steps_left>p{
    color: white;
}
.steps_num{
    font-size: 45px;
    text-align: center;
    margin: 50px auto;
}
.steps_time{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0px auto 30px;
}
.steps_left_word{
    font-size: 18px;
    text-align: center;
}
.steps_right{
    width: 828px;
    float: right;
}
.steps_right_div{
    background: black;
    float: left;
    width: 266px;
    height: 185px;
    margin-left: 10px;
}
.step10{
    margin-top: 10px;
}
.steps_right_div>p{
    color: white;
    text-align:center ;
}
.steps_num_right{
    font-size: 30px;
    margin: 20px auto;
}
.steps_time_right{
    font-size: 20px;
    margin: 0px auto 10px;
    font-weight: bold;
}
.steps_right2{
    background: url("/cn/Hirsi/images/crm-2.png")no-repeat center;
}
.steps_right3{
    background: url("/cn/Hirsi/images/crm-3.png")no-repeat center;
}
.steps_right4{
    background: url("/cn/Hirsi/images/crm-4.png")no-repeat center;
}
.steps_right5{
    background: url("/cn/Hirsi/images/crm-5.png")no-repeat center;
}
.steps_right6{
    background: url("/cn/Hirsi/images/crm-6.png")no-repeat center;
}
.steps_right7{
    background: url("/cn/Hirsi/images/crm-7.png")no-repeat center;
}
/*****************************留学系统*********************/
.studySystem{
    width: 100%;
    height: 460px;
    background: url("/cn/Hirsi/images/crm-bg.png")no-repeat center;
}
.studySystem_title{
    width: 1200px;
    margin: auto;
}
.seven_steps{
    width: 1200px;
    margin:35px auto 0;
    overflow: hidden;
}
.steps_div{
    width: 160px;
    height: 200px;
    background:url("/cn/Hirsi/images/icon.png")no-repeat center;
    /*background-size: contain;*/
    float: left;
    text-align: center;
    margin-right: 13px;
}
.steps_div:last-child{
    margin-right: 0px!important;
}
.steps_div>p{
    font-size: 13px;
    color: rgb(85,85,85);
}
.steps_div:nth-child(2n){
    margin-top: 95px;
}
.stepsIcon{
    display: inline-block;
    font-size: 50px!important;
    color: rgb(72,160,232);
    margin: 40px auto 10px;
}
/*****************************留学百科*********************/
.encyclopedia{
    width: 1300px;
    margin:50px auto 0px;
}
.encyclopedia_content{
    width: 1300px;
    position: relative;
}
.encyclopedia_nav{
    width: 100%;
    overflow: hidden;
    background: rgb(238,238,238);
    height: 61px;
    border-bottom: 1px solid rgb(187,136,187);
}
.encyclopedia_nav>ul{
    overflow: hidden;
    float: left;
    position: absolute;
    left: 315px;
    top:0px;
    width: 975px;
}
.encyclopedia_nav>ul>li{
    float: left;
    height: 61px;
    line-height: 61px;
    padding:0 20px;
    cursor: pointer;
    font-size: 16px;
}
.encyclopedia_nav>ul>div{
    float: right;
    padding: 20px;
    cursor: pointer;
}
.encyclopedia_nav>ul>div>a{
    color: rgb(85,85,85);
}
.encyclopedia_nav>ul>li.on {
    background: white;
    border: 1px solid rgb(187,136,187);
    border-bottom: 2px solid white;
    border-top: 2px solid rgb(187,136,187);
    height: 59px;
    line-height: 56px;
    color:rgb(153,68,153) ;
}
.encyclopediaBd{
    max-height: 600px;
    overflow: hidden;
}
.encyclopediaBd>ul{
    overflow: hidden;
    margin-top: 40px;
}
.encyclopedia_left{
    float: left;
    width: 304px;
    /*height: 485px;*/
    position: relative;
}
.recommend_img{
    position: absolute;
    left: 30px;
    top: 0;
}
.encyclopedia_left_words{
    position: absolute;
    font-size: 25px;
    color: white;
    background: rgba(0,0,0,.5);
    width: 30px;
    text-align: center;
    height: 485px;
    top: 0;
    left: 0;
    padding: 0px 30px;
}
.encyclopedia_left_words>p{
    color: white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
}
.encyclopedia_right{
    float: left;
    overflow: hidden;
    max-width: 996px;
}
.ency_school{
    width: 234px;
    height: 224px;
    background: white;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    position: relative;
}
.ency_logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 15px auto;
}
.ency_name{
    text-align: center;
    color:rgb(153,68,153);
    font-weight: bold;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ency_name_en{
    width: 100%;
    text-align: center;
    color:rgb(204,204,204);
    font-size: 15px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.ency_rank{
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
    color: rgb(85,85,85);
}
.trophy{
    color: #f89904;
}
.ency_bottom{
    margin-top: 10px;
    padding: 10px 0px;
    border-top:1px solid rgb(248,248,248) ;
    background:rgb(153,68,153) ;
}
.ency_bottom>span>a{
    /*color: rgb(85,85,85);*/
    display: inline-block;
    width: 48%;
    border-right: 1px solid rgb(248,248,248);
    text-align: center;
    color: white;
}
.ency_bottom>span:nth-child(2) a{
    border-right: 0px solid rgb(248,248,248)!important;
}
.people,.fire{
    /*color: rgb(85,85,85);*/
    color: white;
    margin-right: 10px;
}
.people{
    font-size: 18px!important;
}
.ency_mask{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 188px;
    display: none;
}
.ency_test{
    float: left;
    padding:5px 10px;
    background: white;
    color: rgb(85,85,85);
    font-size: 12px;
    border-radius: 5px;
    margin-top: 150px;
    margin-right: 30px;
    margin-left: 20px;
}
.ency_look>a{
    color: white;
}
.ency_look{
    float: left;
    padding:5px 10px;
    background: rgb(153,68,153);
    border-radius: 5px;
    font-size: 12px;
    margin-top: 150px;
}
.encyclopedia_tab{
    margin-top: 20px;
    overflow: hidden;
}
.encyclopedia_left_tab{
    position: absolute;
    font-size: 25px;
    color: white;
    background: rgba(0,0,0,.5);
    width: 30px;
    text-align: center;
    height: 485px;
    top: 0;
    left: 0;
    padding: 0px 30px;
}
.encyclopedia_left_tab>p{
    color: white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
}
.encyclopedia_left_tab>span{
    display: block;
    position: relative;
    top: 27%;
    -webkit-transform: translateY(-27%);
    -moz-transform: translateY(-27%);
    -ms-transform: translateY(-27%);
    -o-transform: translateY(-27%);
    transform: translateY(-27%);
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
}
.encyclopedia_center{
    float: left;
    width: 678px;
    margin-left: 10px;
    overflow: hidden;
}
.ency_center_nav{
    position: relative;
    height: 61px;
    background: rgb(238,238,238);
    border-bottom: 1px solid rgb(187,136,187);
}
.ency_center_nav>ul{
    overflow: hidden;
    float: left;
    position: absolute;
    top: 0px;
    left: 150px;
}
.ency_center_nav>ul>li {
    float: left;
    height: 61px;
    line-height: 61px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
}
.ency_center_nav>ul>li.on {
    background: white;
    border: 1px solid rgb(187,136,187);
    border-bottom: 2px solid white;
    border-top: 2px solid rgb(187,136,187);
    height: 59px;
    line-height: 56px;
    color:rgb(153,68,153) ;
}
.Statement{
    width: 90%;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align: middle;
    font-size: 14px;
}
.ency_center_content{
    height:343px ;
    display: none;
}
.ency_center_content ul li{
    list-style: disc;
    width: 90%;
    list-style-position: inside;
    padding: 15px 20px;
}
.encyctab_right{
    float: left;
    margin-left: 10px;
    width: 297px;
}
.ency_recommend{
    width: 100%;
    /*height: 193px;*/
    background: goldenrod;
    position:relative;

}
.ency_bot_words{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    height: 40px;
    text-indent: 20px;
    line-height: 40px;
    color: white;
    font-size: 16px;
}
.ency_bot_words p{
    width: 90%;
    color: white;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.encyctab_right_lb{
    width: 100%;
    margin: auto;
}
.encyctab_right_lb ul li{
    padding: 10px;
}
.encyctab_right_lb a{
    width: 90%;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align: middle;
    font-size: 14px;
}
.encyctab_right_lb span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(153,68,153);
    color: white;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    margin-right: 10px;
    font-size: 12px;
}
/*****************************中间轮播*********************/
.center_carousel{
    width: 100%;
    overflow: hidden;
    margin: 50px auto 70px;
}
.carousel_head{
    width: 100%;
    position: relative;
}
.carousel_head img{
    width: 100%;
    cursor: pointer;
}
.hd_carousel{
    position: absolute;
    bottom: 10px;
    left: 50%;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.hd_carousel li{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}
.hd_carousel li.on{
    background: rgb(153,68,153);
}
.content0{
    display: block!important;
}
/*****************************考试服务*********************/
.eaxm_service{
    width: 1300px;
    margin: 70px auto 0;
    position: relative;
    z-index: 88;
}
.service_line{
    width: 35px;
    height: 3px;
    background: rgb(153,68,153);
    margin:20px auto;
}
.first_title{
    font-size: 20px;
    padding: 40px 0px 10px 20px;
    border-bottom:1px solid rgb(243,243,243);
}
.first_title>span{
    font-size: 26px;
    font-weight: bold;
    color: rgb(153,68,153);
    margin-right: 10px;
}
.eaxm_bd ul li{
    width: 215px;
    /*height: 310px;*/
    background: black;
    margin-right: 10px;
    /*border-radius: 5px;*/
    position: relative;
    overflow: hidden;
    float: left;
}
.eaxm_bd ul li:last-child{
    margin-right: 0px!important;
}
.eaxm_bd{
    max-height: 310px;
    overflow: hidden;
}
.eaxm_bd ul li img{
    width: 100%;
}
.eaxm_bot{
    position: absolute;
    bottom: 90px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}
.eaxm_bot p{
    text-align: center;
    font-size: 28px;
    color: white;
}
.eaxm_bot a{
    display: inline-block;
    color: white;
    font-size: 15px;
    padding: 5px 12px;
    margin-top: 30px;
    background: rgb(153,68,153);
}
.eaxm_list{
    position: relative;
    width: 1120px;
    margin:30px auto 0;
}
/*.next{*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*color: white;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    /*background: rgb(238,238,238);*/
    /*text-align: center;*/
    /*line-height: 40px;*/
    /*left: -70px;*/
    /*top: 50%;*/
    /*margin-top: -20px;*/
    /*cursor: pointer;*/
/*}*/
/*.prev{*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*color: white;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    /*background: rgb(238,238,238);*/
    /*text-align: center;*/
    /*line-height: 40px;*/
    /*right: -70px;*/
    /*top: 50%;*/
    /*margin-top: -20px;*/
    /*cursor: pointer;*/
/*}*/
.eaxm_tab{
    margin-top: 40px;
    overflow: hidden;
}
.eaxm_left {
    float: left;
    width: 304px;
    /*height: 485px;*/
    /*background: goldenrod;*/
    position: relative;
}
.eaxm_left_tab{
    position: absolute;
    font-size: 25px;
    color: white;
    background: rgba(0,0,0,.5);
    width: 30px;
    text-align: center;
    height: 485px;
    top: 0;
    left: 0;
    padding: 0px 30px;
}
.eaxm_left_tab>p{
    color: white;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
}
.eaxm_left_tab>span{
    display: block;
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
}
.eaxm_left_tab>p>span{
    display: block;
    position: relative;
    top: 27%;
    margin-bottom: 50px;
    -webkit-transform: translateY(-27%);
    -moz-transform: translateY(-27%);
    -ms-transform: translateY(-27%);
    -o-transform: translateY(-27%);
    transform: translateY(-27%);
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg);
}
.eaxm_center{
    float: left;
    width: 678px;
    margin-left: 10px;
    overflow: hidden;
}
.eaxm_center_nav{
    position: relative;
    height: 61px;
    background: rgb(238,238,238);
    border-bottom: 1px solid rgb(187,136,187);
}
.eaxm_center_nav>ul{
    overflow: hidden;
    float: left;
    position: absolute;
    top: 0px;
    left: 150px;
}
.eaxm_center_nav>ul>li {
    float: left;
    height: 61px;
    line-height: 61px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
}
.eaxm_center_nav>ul>li.on {
    background: white;
    border: 1px solid rgb(187,136,187);
    border-bottom: 2px solid white;
    border-top: 2px solid rgb(187,136,187);
    height: 59px;
    line-height: 56px;
    color:rgb(153,68,153) ;
}
.Statement{
    width: 90%;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align: middle;
    font-size: 14px;
}
.eaxm_center_content{
    height:343px ;
    display: none;
}
.eaxm_center_content ul li{
    list-style: disc;
    width: 90%;
    list-style-position: inside;
    padding: 15px 20px;
}
.eaxm_right{
    float: left;
    margin-left: 10px;
    width: 297px;
}
.eaxm_recommend{
    width: 100%;
    /*height: 200px;*/
    /*background: goldenrod;*/
    position: relative;
}
.eaxm_right_lb{
    width: 100%;
    margin: auto;
}
.eaxm_right_lb ul li{
    padding: 10px;
}
.eaxm_right_lb a{
    width: 90%;
    display: inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align: middle;
    font-size: 14px;
}
.eaxm_right_lb span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(153,68,153);
    color: white;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    margin-right: 10px;
    font-size: 12px;
}
/*****************************成功案列*********************/
.success_case{
    width: 1200px;
    margin: 50px auto 0;
}
.Curriculum_Broadcast {
    position: relative;
    /* overflow: hidden; */
    padding: 20px 0px 100px 0px;
    max-height: 422px;
}
.Curriculum_Broadcast{
    position: relative;
    /*overflow: hidden;*/
    padding-top: 20px;
}
.recommendation{
    float: left;
    margin-right: 26px;
}
.recommendation:nth-child(4){
    margin-right: 0px!important;
}
.recommendation_cover{
    width: 278px;
    height: 340px;
    border: 1px solid rgb(215,215,215);
    border-radius: 10px;
    background: white;
}
.tubiao{
    width: 100px;
    height: 50px;
    margin: 30px auto 0px;
    text-align: center;
    line-height: 50px;
}
.tubiao i{
    font-size: 40px;
    text-align: center;
    color: rgb(119,193,254);
}
.line_one{
    width: 80%;background:rgb(215,215,215);margin: auto;height: 1px;
}
.line_two{
    height: 2px;width: 40%;margin: auto;background:rgb(119,193,254);
}
.vip_P1{
    font-family: 宋体;
    color: rgb(83,83,83);
    margin:15px auto 10px;
    width: 100%;
    font-size: 26px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-align: center;
    font-weight: bold;
    -webkit-box-orient: vertical;
}
.vip_p2{
    font-family: 宋体;
    color: rgb(138,138,138);
    margin:5px auto 10px;
    width: 100%;
    font-size: 18px;
    overflow : hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.vip_btn{
    width: 80%;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background:rgb(119,193,254);
    color: white;
    border-radius: 10px;
    margin: 20px auto;
}
.words_1{
    width: 65%;
    text-align: center;
    margin: 15px auto;
    font-family: 宋体;
    color: rgb(138,138,138);
    overflow: hidden;
}
.words_1>p:nth-child(1){
    float: left;
}
.words_1>p:nth-child(2){
    float: right;
}
.zx_btn{
    width: 55%;
    background:rgb(119,193,254);
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin:20px auto 0px;
    border: 1px solid rgb(119,193,254);
    cursor: pointer;
}
.hdCurriculum{
    /*width:300px ;*/
    height:44px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-shadow:10px 2px 10px 0px #e0dfdf;
    -moz-box-shadow:10px 2px 10px 0px #e0dfdf;
    box-shadow: 10px 2px 10px 0px #e0dfdf;
    overflow: hidden;
    border-radius: 10px;
}
.hdCurriculum ul li{
    width: 60px;
    height: 44px;
    float: left;
    background: white;
    text-align: center;
    border-bottom: 1px solid rgb(224,224,224);
    font-family: 宋体;
    color: rgb(83,83,83);
    /*padding-top: 25px;*/
    cursor: pointer;
    line-height: 44px;
}
.hdCurriculum ul li:nth-child(1) p{
    /*transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-webkit-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
}
.hdCurriculum ul li:nth-child(2) p{
    /*transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-webkit-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
}
.Curriculum_more{
    width: 60px;
    height: 65px;
    background: white;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
    position: absolute;
    top: 290px;
    left: -65px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}
.Curriculum_more a li{
    font-family: 微软雅黑;
    color: rgb(83,83,83);
}
.hdCurriculum ul li i{
    font-size: 20px;
}
.hdCurriculum ul li:first-child{
    border-bottom: 1px solid rgb(224,224,224);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.hdCurriculum ul li:last-child{
    /*height: 65px!important;*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none!important;
}
.hdCurriculum ul li.on{
    color: white;
    background: rgb(119,193,254);
}
.hdCurriculum ul li.on p{
    color: white;
}
.bdCurriculum{
    max-height: 422px;
    overflow: hidden;
}
.bdCurriculum .banner{
    padding-bottom: 60px!important;
}
.reco_img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 160px;
    overflow: hidden;
    background: goldenrod;
}
.reco_img img{
    width: 100%;
}
.reco_iforma{
    width: 70%;
    height: 115px;
    margin: 15px auto 15px;
}
.reco_iforma>p{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:5px auto;
}
/*****************************名师团队*********************/
.teamCoverhd .prev{
    color: rgb(204,204,204);
    font-size: 40px!important;
    position: absolute;
    left: 50%;
    top: -35px;
    margin-left: -20px;
    cursor: pointer;
}
.teamCoverhd .next{
    color: rgb(204,204,204);
    font-size: 40px!important;
    position: absolute;
    left: 50%;
    bottom: -35px;
    margin-left: -20px;
    cursor: pointer;
}
.teacherTeam{
    width: 1200px;
    margin: 40px auto;
}
.teamCover{
    margin-top: 30px;
    overflow: hidden;
    height: 460px;
    position: relative;
}
.teamCoverBd{
    width: 970px;
    float: left;
    margin-top: 30px;
    max-height: 400px;
    overflow: hidden;
}
.tinter_wrap{
    width: 970px;
    float: left;
    margin-top: 30px;
    max-height: 400px;
    overflow: hidden;
}
.teamCoverhd{
    width: 200px;
    float: right;
    /*overflow: hidden;*/
    height: 395px;
    margin-top: 30px;
    position: relative;
}
.teamCoverhd li{
    padding-bottom: 7px;
    position: relative;
}
.teamCoverhd_image{
    background: url("/cn/Hirsi/images/bg-sm.png")no-repeat center;
    height:122px ;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(153,68,153);
}
.teamCoverhd li.on .name_mask{
    display: none!important;
}
.teamCoverhd li:nth-child(1){
    margin-top: 0px!important;
}
.teamCoverhd>img{
    text-align: center;
}
.Bdcotent{
    position: relative;
    height: 400px;
}
.cotent_imgCover{
    width: 390px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 3px;
    z-index: 9;
    background: rgb(153,68,153);
}
.cotent_img{
    width: 390px;
    height: 300px;
    overflow: hidden;
    background: url("/cn/Hirsi/images/bg-big.png")no-repeat center;
    position: absolute;
    left: 3px;
    top: 0;
    z-index: 10;
}
.cotent_img img{
    margin:0px auto 0px;
}
.teacher_name{
    font-size: 20px;
    position: absolute;
    left: 410px;
    top: 30px;
}
.cotent_intro{
    width: 620px;
    height: 300px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 12;
    /*overflow: hidden;*/
    background: rgb(248,248,248);
    -webkit-box-shadow:0px 6px 5px rgb(221,221,221);
    -moz-box-shadow:0px 6px 5px rgb(221,221,221);
    box-shadow:0px 6px 5px rgb(221,221,221);
}
.cotent_intro>p{
    font-size: 16px;
}
.fir_p{
    display: inline-block;
    max-width: 90%;
    margin: 30px 5% 30px 5%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding-bottom: 3px;
    position: relative;
    border-bottom: 1px solid  rgb(85,85,85);
    color: rgb(85,85,85);
    font-size: 17px;
}
.sec_p{
    width: 90%;
    margin: 5px auto;
    color: rgb(85,85,85);
    font-size: 16px;
}
.th_p{
    width: 90%;
    margin: 5px auto 15px;
    color: rgb(170,170,170);
    font-size: 15px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 63px;
}
.four_p{
    width: 90%;
    margin: 5px auto;
    color: rgb(85,85,85);
    font-size: 16px;
}
.five_p{
    width: 90%;
    margin: 5px auto;
    color: rgb(170,170,170);
    font-size: 16px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.details{
    padding: 10px;
    width: 90px;
    font-size: 16px;
    color: white;
    background:rgb(153,68,153) ;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 14;
}
.details>a{
    color: white;
}
.cricle_right{
    color:white;
    vertical-align: middle;
    margin-left: 4px;
}
.Trophyicon{
    color: rgb(153,68,153);
    font-size: 26px!important;
    position: absolute;
    top: -2px;
    left: 20px;
    z-index: 14;
}
.teamCriclehd{
    position: absolute;
    z-index: 14;
    top: 260px;
    left: 50px;
}
.teamCriclehd li{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #fff;
}
.teamCriclehd li.on{
    height: 15px;
    width: 40px;
    background: rgb(153,68,153);
}
.name_mask{
    width: 100%;
    height: 124px;
    position: absolute;
    left: 0;
    top:0;
    text-indent: 20px;
    line-height: 124px;
    background: rgba(153,68,153,.3);
    color: white;
    display: block;
}
/*****************************研发成果*********************/

.Results_list .next{
    display: inline-block;
    position: absolute;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(238,238,238);
    text-align: center;
    line-height: 40px;
    left: -70px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}
.Results_list .prev{
    display: inline-block;
    position: absolute;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(238,238,238);
    text-align: center;
    line-height: 40px;
    right: -70px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}


.Results_list{
    margin-top: 30px;
    position: relative;
}
.rdResults{
    width: 1200px;
    margin: 50px auto;
}
.Results_bd ul li{
    width: 190px;
    height: 190px;
    background: black;
    margin-right: 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.Results_bd{
    max-height: 190px;
    overflow: hidden;
}
.Results_bd ul li img{
    width: 100%;
}
/*****************************footer*********************/
footer {
    height: 363px;
    background: url("../images/bg-5.png") no-repeat center center;
    background-size: cover;
}

.footer-list-wrap {
    padding-top: 20px;
}

.footer-list {
    float: left;
    padding: 0 82px;
    height: 140px;
    border-right: 1px solid #ffffff;
}

.footer-list li {
    margin-bottom: 7px;
}

footer .footer-list:first-child {
    padding-left: 0;
}

footer .footer-list:last-child {
    padding-right: 0;
    border: none;
}

.footer-list li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.ft2 {
    margin-right: 5px;
    width: 125px;
}

.ft2 li:nth-child(odd) {
    float: left;
}

.ft2 li:nth-child(even) {
    float: right;
}

.ft-tel-wrap {
    margin: 20px 0;
}

.ft-tel {
    padding-left: 20px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.ft-erm-wrap {
    font-size: 0;
    padding: 4px;
    margin-right: 50px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}

.ft-erm-wrap:last-child {
    margin-right: 0;
}

.ft-erm-name {
    vertical-align: middle;
    font-size: 14px;
    margin: 0 5px;
    color: rgba(255, 255, 255, 0.8);
}

/****************************copyRight*****************/
.copyRight {
    padding: 15px 0;
    background: #EEEEEF;
}

.copyRight span, .copyRight a {
    font-size: 14px;
}

.copyRight a:hover {
    color: #FF0000;
}

.copyRight .link-tit {
    font-weight: bold;
}

/*****************海外Mentro*****************/
.abroad-wrap {
    width: 910px;
    padding: 0 45px;
    height: 430px;
    background: url("../images/bg-6.png") no-repeat center center;
}

h1.abroad-tit {
    padding: 15px 0 25px;
    font-size: 32px;
    color: #ffffff;
    font-weight: normal;
}

.abroad-intro {
    position: relative;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 30px;
}

.abroad-intro p {
    padding: 0 15px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
}

.abroad-intro .tri-2 {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -44px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 24px solid #ffffff;
    border-bottom: 20px solid transparent;
}

.abroad-line {
    position: absolute;
    left: 0;
    top: -5px;
    width: 370px;
    height: 7px;
    border-radius: 2px;
    background: #ffff00;
}

.abroad-img {
    width: 160px;
    height: 160px;
    text-align: center;
    border-radius: 50%;
    line-height: 160px;
    margin: 0 auto;
    overflow: hidden;
}

.abroad-slide {
    overflow: hidden;
    margin: 5px auto 0;
    text-align: center;
}

.abroad-slide li {
    cursor: pointer;
    margin: 0 3px;
    display: inline-block;
    vertical-align: middle;
    width: 39px;
    height: 6px;
    border-radius: 3px;
    background: #999999;
}

.abroad-slide li:last-child {
    margin-right: 0;
}

.abroad-slide li.on {
    background: #ffffff;
}
/*中间弹窗*/
.m-tc{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
}
.ic-wrap{
    position: relative;
    width: 521px;
    height: 322px;
    margin: 0 auto;
}
.ic-close{
    position: absolute;
    right: 20px;
    top: 12px;
    width: 30px;
    height: 30px;
}
/*新版结构修改2019年1月28日 15:54:44*/
.steps_seven{
    width: 1200px;
    margin: auto;
}
.eaxm_tab_wap{
    width: 1300px;
    margin: auto;
}