#header {
    width: 100%;
}
.hotImg{
    height: 16px;
    position: absolute;
    right: 0;
    top: -6px;
}
.nav-wrap{
    width: 100%;
    min-width: 1200px;
    background-color: white;
}
.nav_list {
    padding: 15px 0;
    height: 40px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.nav_bar {
    margin-top: 2px;
    vertical-align: text-top!important;

}
.logo_wrap {
    /*margin-top: 8px;*/
    margin-right: 15px;
    padding: 8px 0;
}

.nav_bar li.bar-li {
    position: relative;
    /*padding: 0 10px;*/
    float: left;
}

.nav_bar li a {
    color: #4a4a4a;
    line-height: 31px;
    font-size: 16px;
}

.nav_bar li:hover .nav2-wrap {
    display: block;
}

.nav_bar li a:hover {
    color: #02A3EA;
}

.nav_bar li.on a {
    color: #02A3EA;
}

.nav_bar li a.on {
    color: #02A3EA;
}

.search-wrap {
    margin-top: 2px;
    font-size: 0;
    height: 33px;
    /*border: 1px solid #02A3EA;*/
    border: 1px solid #6e72df;
    position: absolute;
    bottom: 15px;
    right: 0;
}

.search_int {
    vertical-align: middle;
    outline: none;
    padding: 0 10px;
    width: 100px;
    height: 32px;
    border: none;
    background-color: white;
    z-index: 2;
    margin-top: 3px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}
.search_int:focus{
    width: 200px;
}
.search_btn {
    background: #02A3EA;
    width: 48px;
    height: 33px;
    line-height: 34px;
}

.nav2-wrap {
    z-index: 300;
    display: none;
    position: absolute;
    left: 0;
    /*width: 100%;*/
    top: 20px;
    padding: 18px 5px 0;
    background: url("../images-3/crow-6.png")no-repeat 24px 13px;
}

.nav2-list {
    min-width: 100px;
    border-top: 2px solid #00a3eb;
    background: #ffffff;
}

.nav2-list li {
    text-align: left;
    float: none;
    margin: 0 7px;
    padding: 0;
    border-bottom: 1px dashed #cccccc;
}

.nav2-list li:last-child {
    border-bottom: none;
}

.nav2-list li a {
    padding-left: 10px;
    line-height: 38px;
}
/*-------------------分类 导航-----------------*/
.all-list {
    z-index: 98;
    width: 245px;
    height: 100%;
    left: 0;
    top: 0;
    /*padding: 0 15px;*/
    background: rgba(68, 68, 68, 0.5);
}

.all-list li.a1-li {
    font-size: 16px;
    padding: 0 15px;
}

.all-list li.a1-li a.a1-tit {
    width: 100%;
    padding: 15px 15px 15px 0;
    box-sizing: border-box;
    display: inline-block;
    line-height: normal;
    color: #fff;
    border-bottom: 1px solid #999999;
}

.all-list li.a1-li:first-child a.a1-tit {
    font-weight: bold;
}

.all-list li.a1-li:last-child a.a1-tit {
    border-bottom: none;
}

.all-list li.a1-li:hover {
    background: rgba(0, 0, 0, 0.5);
}

.all-list li.a1-li:hover .a2-list {
    display: block;
}

.all-list li.a1-li:hover a.a1-tit {
    border-color: transparent;
}

.all-list li.a1-li a.a1-tit img.crow-3 {
   right: 0;
    top: 50%;
    margin-top: -4px;
}

.all-list li.a1-li a.a1-tit img.menu {
    margin-top: -3px;
    margin-right: 5px;
}

.a2-list {
    z-index: 99;
    display: none;
    background: url("http://www.gmatonline.cn/app/web_core/styles/images-3/bg-10.png") no-repeat 0 0, #ffffff;
    background-size: 100%;
    width: 290px;
    padding: 0 20px 0 40px;
    height: 460px;
    right: -350px;
    top: 0;
    overflow-y: auto;
}
.a2-list::-webkit-scrollbar {
    width: 8px;
}

.a2-list::-webkit-scrollbar-track {
    background: #c5c5c5;
}

.a2-list::-webkit-scrollbar-button {
    display: none;
}

.a2-list::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 6px;
    background: #858585;
}

.a2-list li a {
    display: block;
    font-size: 16px;
    padding-top: 20px;
    color: #4D4D4D;
}

.a2-list li a:hover {
    color: #02A3EA;
    text-decoration: underline;
}

/*--------------------banner----------------*/

.banner-wrap {
    /*background: url("../images-3/bg-1.png") no-repeat 0 0;*/
    background-size: cover;
    background: #ffffff;
}

.slideBox-1 {
    height: 460px;
    width: 1200px;
    overflow: hidden;
}

.bl-1 {
    left: -215px;
    bottom: 8px;
}

.bl-2 {
    right: -174px;
    top: 62px;
}

.b1-hd {
    bottom: 30px;
    right: 30px;
    /*width: 100%;*/
    z-index: 9;
}

.b1-hd ul li {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: #ffffff;
}

.b1-bd{
    width: 1200px;
    height: 460px;
    overflow: hidden;
}

.b1-hd ul li.on {
    background: #02A3EA !important;
}
.slideBox-1 .pt-1{
    display: none;
}
.slideBox-1:hover .pt-1{
    display: block;
}
.prev{
    text-align: center;
    width: 45px;
    line-height: 80px;
    top: 50%;
    left: 245px;
    margin-top: -40px;
    background: rgba(0, 0, 0, 0.4);
}

.next {
    text-align: center;
    width: 45px;
    line-height: 80px;
    top: 50%;
    right: 0;
    margin-top: -40px;
    background: rgba(0, 0, 0, 0.4);
}

.next:hover {
    background: rgba(0, 0, 0, 0.7);
}
/*anne新增【首页导航改版】*/
.anne-outBox{
    width: 1200px;
    margin: 0 auto;
}
.search-wrap{
    width: 466px;
    height: 38px;
    border-radius: 5px;
    margin: 38px 0 0 83px;
    position: relative;
}
.searchInput{
    width: 79.5%;
    padding-left: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search-wrap img{
    position: absolute;
    top: 10px;
    left: 10px;
}
.search-wrap p{
    font-size: 12px;
    color: #777777;
    margin-top: 8px;
}
.search_btn{
    /*background: #129ad6;*/
    background: #6e72df;
    width: 95px;
    height: 38px;
    line-height: 38px;
    letter-spacing: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
}
.search_btn:hover{
    cursor: pointer;
}
.anne-vip{
    float: right;
    margin-top: 20px;
}
.nav_list{
    /*background-color: #0c9ad9;*/
}
.kexue_left{
    width: 245px;
    height: 100%;
    line-height:39px;
    background-color: #1385b7;
    /*background-color: #5054d6;*/
    color: white;
    font-size: 16px;
}
.nav_list{
    padding: 0;
    margin-top: 10px;
    /*background: #5e63d5;*/
}
.kexue_left img{
    margin-left: 15px;
    margin-right: 10px;
}
.kexue_left  span:last-child{
    margin-left:20px;
}
.nav_bar>li>a{
    color: #333333;
    /*color: #fff;*/
}
.nav_bar{
    margin-top: 0;
}
.nav_bar li.bar-li{
    /*padding: 4px 12px;*/
    margin-left: 24px;
}
/*....................................................*/
body {
    min-width: 1200px;
    overflow-x: hidden;
}

.w12 {
    width: 1200px;
    margin: auto;
}

#index {
    /*background: #1b7ec9;*/
    overflow: hidden;
}

.zb_more {
    padding-right: 65px;
    padding-bottom: 15px;
}

.zb_more a {
    color: #5a5ee4;
    font-size: 18px;
}
.zb_more a:hover{
    text-decoration: underline;
}

.slide_box {
    width: 100%;
    min-width: 1200px;
}

.slide_box .bd {
    width: 100%;
    overflow: hidden;
}

.slide_box .bd li {
    width: 100%;
    height: 500px;
}

.slide_box .bd li a {
    display: block;
    height: 100%;
}

@media screen and (min-width: 1900px) {
    .slide_box .bd li a {
        background-size: 100% 100% !important;
    }
}

.slide_box .hd {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    bottom: 20px;
}

.slide_box .hd li {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin: 0 7px;
}

.slide_box .hd li.on {
    background: #32348f;
}

.tit_img {
    padding-top: 35px;
    padding-bottom: 65px;
    text-align: center;
}

.tit_bg {
    width: 828px;
    height: 113px;
    line-height: 110px;
    text-align: center;
    margin: auto;
    background: url("../images/gre_index/tit_bg.png") no-repeat center;
    background-size: 100% 100%;
    margin-bottom: 110px;
}

.ani_1 {
    left: 50%;
    top: -100px;
    margin-left: -839px;
}

.ani_1 img {
    max-width: none;
}

.model_1 {
    z-index: 10;
}

.m1_list {
    padding: 50px 0;
    text-align: center;
}

.m1_list li {
    height: 170px;
    width: 318px;
    display: inline-block;
    vertical-align: top;
    margin-right: 55px;
    background: #ffffff;
    border: 2px solid #7c80ee;
}

.m1_list li:last-child {
    margin-right: 0;
}

.m1_list li:hover .lof_img img {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.m1_btn a {
    display: inline-block;
    vertical-align: middle;
    background: #5a5ee4;
    width: 112px;
    height: 27px;
    font-size: 14px;
    color: #ffffff;
    line-height: 26px;
    border-radius: 12px;
}

.m1_btn a:hover {
    background: #5254ce;
}

.list_name {
    padding-top: 2px;
    color: #5a5ee4;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.lof_img {
    margin-right: 20px;
}

.lof_img img {
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;

}

.lof_text {
    line-height: normal;
}

.view_num {
    padding-bottom: 10px;
    color: #777777;
    font-size: 14px;
}

.list_info {
    height: 158px;
    line-height: 158px;
}

.l_ani {
    left: 55px;
    top: -196px;
}

.r_ani {
    right: 15px;
    top: -70px;
}

.model_name_wrap {
    padding: 50px 0;
}

.model_name {
    font-size: 34px;
    font-weight: bold;
    color: #5a5ee4;
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    height: 55px;
    line-height: 55px;
    border: 3px solid #5a5ee4;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
}

.model_name:before {
    position: absolute;
    left: -234px;
    top: 50%;
    margin-top: -24px;
    content: url("../images/gre_index/tit_l_zs.png");
}

.model_name:after {
    position: absolute;
    right: -234px;
    top: 50%;
    margin-top: -24px;
    content: url("../images/gre_index/tit_r_zs.png");
}
.new_model_name{
    display: inline-block;
    border-bottom: 2px solid #6e72df;
    color: #333333;
    font-size: 34px;
    padding: 15px 2px;
    font-weight: normal;
}

.model_name2 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    height: 55px;
    line-height: 55px;
    background: #004d87;
    border: 4px solid #14cef8;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
}

.model_name2:before {
    position: absolute;
    left: -234px;
    top: 50%;
    margin-top: -24px;
    content: url("../images/gre_index/tit_l2_zs.png");
}

.model_name2:after {
    position: absolute;
    right: -234px;
    top: 50%;
    margin-top: -24px;
    content: url("../images/gre_index/tit_r2_zs.png");
}

.live_sub_img {
    width: 315px;
    height: 165px;
    overflow: hidden;
    position: relative;
}

.live_sub_img img {
    width: 100%;
    height: 100%;
}

.live_date {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.live_de {
    color: #333333;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    text-align: left;
    margin-bottom: 10px;
}

.live_teacher {
    color: #666666;
    font-size: 16px;
}

.live_btn {
    width: 84px;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background: #5a5ee4;
    font-size: 12px;
}

.live_btn:hover {
    background: #4043a2;
}

.live_text_wrap {
    padding: 8px 12px;
    background: #ffffff;
}

.live_list {
    /*padding: 55px 0;*/
    text-align: center;
}
.live_list_wrap .tempWrap{
    margin: auto;
}

.live_list li {
    width: 315px;
    margin: 0 32px;
    display: inline-block;
    vertical-align: middle;
}

.jl {
    left: -10px;
    bottom: -10px;
}

.jr {
    right: -10px;
    bottom: -10px;
}

.rect_l {
    left: -308px;
    top: 50px;
}

.rect_r {
    right: -292px;
    top: 50px;
}

.wg_img {
    margin-top: -168px;
}

.wg_img img {
    width: 100%;
}

.model_2 {
    background: red;
    padding: 72px 0 55px;
    height: 513px;
    /*margin-top: -65px;*/
    background: url("../images/gre_index/section_2.png") no-repeat 0 0;
    background-size: 100% 100%;
    /*margin-top: -171px;*/
}

.model2_h1 {
    font-size: 40px;
    color: #ffffff;
    line-height: 58px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.register_btn a {
    width: 200px;
    height: 55px;
    background: #118ea9;
    border-radius: 6px;
    color: #ffffff;
    font-size: 27px;
    line-height: 55px;
}

.register_btn a:hover {
    background: #0e7288;
}

.bold_gre {
    font-size: 36px;
    color: #118ea9;
    margin-bottom: 25px;
}

.gre_de {
    font-size: 30px;
    color: #1890a8;
    padding-bottom: 40px;
}

.gre_de strong {
    color: #5a5ee4;
    font-weight: bold;
}

.register_enter {
    padding: 0 0 55px;
}

.model_3 {
    /*margin-top: -53px;*/
    /*background: #4771e9;*/
    background: -webkit-linear-gradient(left, #4777f1, #5f64e4, #4777f1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4777f1, #5f64e4, #4777f1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4777f1, #5f64e4, #4777f1); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4777f1, #5f64e4, #4777f1); /* 标准的语法（必须放在最后） */
}

#GRE_ani {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -342px;
    z-index: 1;
}

.model_4 {
    /*background: #ececec;*/
}

.md_item_tit_wrap {
    width: 335px;
    height: 50px;
    padding-left: 55px;
    font-size: 18px;
    color: #ffffff;
    line-height: 50px;
    text-align: left;
    margin-left: 40px;
    background: url("../images/gre_index/m3_list_tbg.png") no-repeat 0 0;
}

.md_item_tit_wrap span {
    vertical-align: middle;
    padding-left: 35px;
}

.md_item_list {
    width: 541px;
    height: 247px;
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 15px;
    position: relative;
    overflow: hidden;
    background: url("../images/gre_index/m3_list_bg.png") no-repeat 0 0;
}

.m3_img {
    /*width: 230px;*/
    /*height: 205px;   */
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.m3_img img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.m3_img_tit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    padding: 0 1%;
    color: #ffffff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.m3_img:hover .m3_img_tit {
    text-decoration: underline;
    color: #71eeff;
}

.m3_img:hover img {
    zoom: 1.05;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}


.bk_date {
    color: #777777;
    font-size: 12px;
}

.bk_tit {
    color: #333333;
    font-size: 14px;
    width: 260px;
    padding-left: 15px;
    background: url("../images/gre_index/point.png") no-repeat 0 center;
}

.bk_tit:hover {
    text-decoration: underline;
    color: #393973;
}

.common_list3 {
    width: 870px;
}

.common_list3 li {
    width: 400px;
    /*width: 280px;*/
    margin-bottom: 16px;
}

.m3_more {
    right: 35px;
    top: 6px;
    color: #343434;
    font-size: 16px;
}

.m3_more:hover {
    text-decoration: underline;
    color: #0e7288;
}

.small_img {
    width: 105px;
    height: 70px;
    float: left;
    overflow: hidden;
}

.small_img img {
    width: 100%;
    height: 100%;
}

.small_h1:hover a {
    text-decoration: underline;
    color: #269cef;
}

.small_h1 a {
    padding-top: 3px;
    display: block;
    font-size: 16px;
    color: #333333;
}

.small_de {
    padding: 5px 0;
    font-size: 12px;
    color: #666666;
}

.small_info {
    font-size: 12px;
    color: #777777;
}

.small_line {
    padding: 0 20px;
}

.small_info_wrap {
    width: 420px;
    float: right;
}

.list_1 li {
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
    width: 540px;
}

.md_item_wrap .md_item {
    float: left;
    margin-bottom: 30px;
}

.md_item:nth-child(odd) {
    margin-left: -15px;
}

.md_item:nth-child(even) {
    float: right;
    margin-right: -15px;
}

.md_item_wrap {
    padding-top: 10px;
    padding-bottom: 20px;
}

.tri_n1 {
    left: -150px;
    top: -80px;
}

.tri_n3 {
    right: -190px;
    top: 200px;
}

.tri_n2 {
    left: -130px;
    bottom: 400px;
}

.tri_n4 {
    right: -147px;
    bottom: 347px;
}
/**************************新版备考*******************/
 .new_model_3{

 }
.bkTab li{
    color: #555555;
    padding: 14px 3px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.bkTab li.on, .bkTab li:hover{
    color: #6e72df;
    border-color: #6e72df;
}
.articleImg{
    width: 330px;
    height: 185px;
    overflow: hidden;
    position: relative;
}
.articleImg img{
    width: 100%;
    height: 100%;
}
.newsTit{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    padding: 7px 3px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}
.newsTit:hover{
    text-decoration: underline;
}
.newsList{
    text-align: left;
    padding: 5px 0;
}
.newsList li{
    cursor: pointer;
    padding: 5px 0;
}
.newModel_wrap{
    padding: 60px 0 20px;
}
.bkItem_wrap{

}
.bkItem{
    display: inline-block;
    vertical-align: top;
}
.bkItem_wrap .bkItem:nth-child(2){
    margin: 0 98px;
}
.newModel_wrap .bkItem_wrap{
    display: none;
}
.newModel_wrap .bkItem_wrap:first-child{
    display: block;

}

/*test*/
.flexList{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
/*新用户弹窗*/
.newUser-mask{
    width: 800px;
    height: 512px;
    background: url("../images/index-mask.png") no-repeat;
    background-size: 100% auto;
    position: fixed;
    top: 50%;
    margin-top: -256px;
    left: 50%;
    margin-left: -400px;
    z-index: 9999;
}
.newUser-mask a{
    display: block;
    width: 240px;
    height: 48px;
    /*border: 1px red solid;*/
    position: absolute;
    bottom: 34px;
    left: 50%;
    margin-left: -120px;
}
/*-------------滚动信息--------------*/
.commonTopic {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 50px 0 27px 48px;
    background: white;
    border: 1px #d7d7d7  solid;
    /*border-top: 2px #f1f1f2 solid;*/
    /*border-left: 2px #f1f1f2 solid;*/
    /*border-right: 2px #f1f1f2 solid;*/
    /*border-bottom: 8px #dcdddd solid;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.topic-left {
    width: 233px;
    height: 287px;
    float: left;
    border-right: 1px #d7d7d7 solid;
}

.common-back {
    width: 167px;
    height: 162px;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.back01 {
    background: #fea627;
}

.back02 {
    background: #f55569;
}

.common-back img {
    margin-top: 15px;
}

.common-back p {
    font-size: 20px;
}

.topic-left > a {
    width: 168px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    display: block;
    border: 1px #30b3ed solid;
    color: #30b3ed;
    margin-top: 24px;
}

.topic-right {
    width: 846px;
    margin-left: 40px;
    float: left;
}

.topic-right h4 {
    color: #494241;
    font-weight: normal;
}

.topic-right h4 span {
    color: #ff751a;
    /*font-family: '楷体';*/
}

.topic-right h4 span b {
    font-size: 22px;
    font-weight: normal;
}

.topicBd {
    /*width: 100%;*/
    margin-top: 27px;
    float: left;
}

.topicBdMR {
    margin-right: 55px;
}

.topicBd ul li {
    width: 374px;
    /*float: left;*/
    /*margin-right: 55px;*/
    margin-bottom: 20px;
}

.topicBd ul li a {
    width: 100%;
    height: 100%;
    display: block;
}

.topicBd ul li:hover .topic-title {
    color: #31b3ed;
    background: #ecf7fd;
}

.topic-title {
    width: 100%;
    height: 27px;
    line-height: 27px;
    background: #f2f2f2;
    border-radius: 30px;
    font-size: 14px;
    color: #787778;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.topicBd ul li p {
    width: 100%;
    font-size: 12px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8b8b8b;
}

.topicBd ul li:nth-child(2n) {
    margin-right: 0;
}
/*新增弹窗样式*/
.fiveSecond-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../images/gre-maskBg_03.png") no-repeat;
    background-size: cover;
    z-index: 999;
    display: none;
}
.five-m-in{
    width: 1000px;
    height: 534px;
    position: fixed;
    top: 50%;
    margin-top: -267px;
    left: 50%;
    margin-left: -500px;
}
.five-m-close{
    width: 188px;
    height: 44px;
    line-height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: normal;
}
.five-m-close b{
    font-weight: normal;
}
.five-m-close:hover{
    cursor: pointer;
}
.five-content{
    width: 100%;
}
.f-c-title{
    background-color: white;
    padding: 10px 20px 10px 30px;
    font-size: 38px;
    color: #3a94ef;
    display: inline-block;
    margin-top: 44px;
    margin-bottom: 30px;
}
.f-c-info ul li:first-child{
    margin-top: 30px;
}
.f-c-info ul li{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
.f-c-info ul li b{
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    font-size: 18px;
    color: #3484f1;
    margin-right: 10px;
    font-weight: normal;
    text-align: center;
}
.f-c-info ul li span{
    font-size: 18px;
    color: white;
}
.zuoti-btn{
    width: 251px;
    height: 53px;
    margin: 0 auto;
    margin-top: 40px;
}
.zuoti-btn a{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 53px;
    display: block;
    font-size: 30px;
    color: #3484f1;
    background-color: white;
    border-radius: 40px;
}
.f-m-rimg{
    position: absolute;
    right: -55px;
    bottom: 80px;
}