*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'iconfont';  /* project id 938116 */
    src: url('//at.alicdn.com/t/font_938116_5yqddfitd9c.eot');
    src: url('//at.alicdn.com/t/font_938116_5yqddfitd9c.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_938116_5yqddfitd9c.woff') format('woff'),
    url('//at.alicdn.com/t/font_938116_5yqddfitd9c.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_938116_5yqddfitd9c.svg#iconfont') format('svg');
}
.institution_details{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    background: #F6F6F6;
}
.detailsCon {
    width: 1200px;
    margin: auto;
}
.con_title span {
    color: #944294;
}
.content{
    width: 1200px;
    margin:20px auto;
    overflow: hidden;
}
.content_left{
    width: 900px;
    float: left;
    border: 1px solid #EFEFEF;
}
.ico_fb{
    font-size: 28px!important;
    color: #944294;
    vertical-align: top;
}
.materials_title{
    font-size: 18px;
    padding: 15px 0px 20px 40px;
}
.materials_title span{
    vertical-align: middle;
}
.materials_c{
    background: white;
    overflow: hidden;
    padding: 15px 0px 25px 40px;
}
.name_img{
    width: 100px;
    max-height: 250px;
    overflow: hidden;
    float: left;
}
.name_img img{
    width: 100%;
}
.school_c{
    width: 300px;
    float: left;
    margin-left: 40px;
}
.c_name{
    font-weight: bold;
    font-size: 20px;
    color: #944294;
}
.school_c>span{
    display: inline-block;
    margin-bottom: 10px;

}
.school_c>p{
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.school_c>a{
    display: block;
    padding: 3px 5px;
    color: white;
    width: 120px;
    margin-top: 5px;
    text-align: center;
    background: #944294;
}
.school_img{
    padding: 5px;
    float: left;
    width: 275px;
    border: 1px solid #EFEFEF;
}
.school_img img{
    width: 100%;
}
.Profile_con{
    padding: 30px 40px;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-line-clamp: 6;*/
    overflow: hidden;
    background: white;
    /*max-height: 180px;*/
}
.ProName{
    padding: 30px 40px;
    background: white;
}
.ProName_title{
    padding: 10px 0;
    text-align: center;
    color: rgb(155,74,147);
    background: rgb(250,239,250);
    font-size: 18px;
}
.ProName_details{
    width: 95%;
    overflow: hidden;
    margin: auto;
}
.pro_title{
    display: block;
    width: 210px;
    padding: 5px 0;
    border-radius: 5px;
    float: left;
    margin-top: 25px;
    margin-right: 70px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #944294;
}
.pro_title:nth-child(3n){
    margin-right: 0px!important;
}
.content_right{
    width: 278px;
    float: right;
}
.right_title{
    overflow: hidden;
    padding: 15px 10px;
    background: white;
}
.right_title>span:nth-child(1){
    font-size: 16px;
    float: left;
}
.right_title>span:nth-child(2){
    float: right;
    font-size: 14px;
    color: #1699DE;
    cursor: pointer;
}
.icon_change{
    font-size: 20px!important;
}
.right_con{
    margin-top: 5px;
    overflow: hidden;
    padding-bottom: 10px;
    background: white;
}
.right_con_son{
    width: 110px;
    overflow: hidden;
    padding: 0px 10px 5px 10px;
}
.son_img{
    margin-top: 30px;
    width: 104px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #EFEFEF;
}
.son_img img{
    width: 80%;
    height: 75px;
    overflow: hidden;
    margin: auto;
}
.son_img p{
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.son_img p span{
    color: #944294;
}
.right_con_son>p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right_con_son>p:not(.son_sc_name){
    color:#A5A5A5 ;
}
.right_con_son:nth-child(n){
    float: left;
}
.right_con_son:nth-child(2n){
    float: right;
}
.right_con_son>a{
    color: #1699DE;
    font-size: 12px;
}

