*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f1f1;
}
.details-banner{
    width: 100%;
    height: 274px;
    min-width: 1200px;
    background: url("/cn/schools/images/query-banner.png") no-repeat center;
    background-size: auto 100%;
}

.banner-school{
    width: 1052px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.bs-left{
    width: 150px;
    height: 150px;
    /*float: left;*/
    background-color: white;
}
.bs-left img{
    width: 100%;
    height: 100%;
}
.bs-center{
    width: 250px;
    height: 124px;
    /*float: left;*/
    margin-left: 40px;
    /*margin-top: 18px;*/
}
.bs-center h4{
    color: white;
    font-size: 26px;
    font-weight: normal;
}
.bs-center p{
    color: white;
    font-size: 18px;
    margin: 5px 0 10px 0;
}
.bs-center a{
    display: inline-block;
    background-color: #893d92;
    color: white;
    padding: 5px 15px 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
.bs-center a img{
    margin-right: 5px;
}
.bs-right{
    width: 592px;
    /*float: left;*/
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.54);
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bs-right ul:after{
    content: '';
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
}
.bs-right ul li{
    width: 50%;
    font-size: 16px;
    color: white;
    float: left;
    margin-bottom: 5px;
}
.bs-right ul li a{
    color: white;
    display: inline-block;
}
.banner-nav{
    width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
}
.banner-nav ul:after{
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
}
.banner-nav ul li{
    float: left;
    color: white;
    font-size: 12px;
    margin-right: 6px;
}
.banner-nav ul li a{
    color: white;
}
.content{
    width: 1200px;
    margin: auto;
    height: 400px;
}